### 1. 개발 환경 세팅

In [1]:
### 개발환경 세팅하기

# ▶ 한글 폰트 다운로드
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 49 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 1s (11.6 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 123630 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [2]:
# ▶ 한글 폰트 설정하기
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus'] =False

# ▶ Warnings 제거
import warnings
warnings.filterwarnings('ignore')

# ▶ Google drive mount or 폴더 클릭 후 구글드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# 필요한 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

### 2. 서울시 버스 정류장 데이터 전처리 및 EDA

In [4]:
import os
print(os.listdir('/content/'))

['.config', '서울시_정류장마스터_정보.csv', 'drive', '국내_지역별_관광명소데이터.csv', 'sample_data']

In [5]:
bus_loc = pd.read_csv('./서울시_정류장마스터_정보.csv', encoding="cp949")
bus_loc

,정류장_ID,정류장_명칭,정류장_유형,정류장_번호,위도,경도,버스도착정보안내기_설치_여부
0,100000001,종로2가사거리,중앙차로,1001,37.569806,126.987752,설치
1,100000002,창경궁.서울대학교병원,중앙차로,1002,37.579433,126.996521,설치
2,100000003,명륜3가.성대입구,중앙차로,1003,37.582580,126.998251,설치
3,100000004,종로2가.삼일교,중앙차로,1004,37.568579,126.987613,설치
4,100000005,혜화동로터리.여운형활동터,중앙차로,1005,37.586243,127.001744,설치
...,...,...,...,...,...,...,...
11329,129000043,김포IC(가상),가상정류장,41613,37.591442,126.766228,미설치
11330,129000044,양주IC(가상),가상정류장,68604,37.680124,126.919246,미설치
11331,129000045,양주IC(가상),가상정류장,68605,37.678402,126.916507,미설치
11332,129000110,난지도하수처리장(가상),가상정류장,35679,37.584193,126.848843,미설치
11333,129000111,난지도하수처리장(가상),가상정류장,35678,37.584647,126.849209,미설치

In [6]:
bus_loc['정류장_유형'].unique()

array(['중앙차로', '일반차로', '가로변시간', '가로변전일', '가상정류장', '마을버스'], dtype=object)

In [7]:
# 가상정류장은 의미 없으니까 제외
seoul_bus = bus_loc[bus_loc['정류장_유형'] != '가상정류장']
seoul_bus['정류장_유형'].unique()

array(['중앙차로', '일반차로', '가로변시간', '가로변전일', '마을버스'], dtype=object)

In [8]:
seoul_bus.isna().sum()

정류장_ID             0
정류장_명칭             0
정류장_유형             0
정류장_번호             0
위도                 0
경도                 0
버스도착정보안내기_설치_여부    0
dtype: int64

In [9]:
seoul_bus.duplicated(subset='정류장_ID').sum()

0

In [ ]:
# 서울의 버스 정류장 지도로 시각화

!pip install pandas folium

import pandas as pd
import folium

# 지도 초기화 (중심 좌표 설정)
# 중심 위치를 데이터의 첫 번째 위치로 설정
center_lat = seoul_bus['위도'].mean()
center_lon = seoul_bus['경도'].mean()
m = folium.Map(location=[center_lat, center_lon], zoom_start=12)

# 각 버스 노션을 지도에 추가
for idx, row in seoul_bus.iterrows():
    folium.Marker(
        location=[row['위도'], row['경도']],
        popup=row['정류장_명칭'],  # 마커를 클릭하면 나오는 정보
    ).add_to(m)

# 지도를 HTML 파일로 저장
m.save("seoul_bus_map.html")

# 완료 메시지
print("버스 노션 지도가 'seoul_bus_map.html' 파일로 저장되었습니다.")

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.18.0)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.8.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.10/dist-packages (from folium) (2024.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2024.8.30)
버스 노션 지도가 'seoul_bus_map.html' 파일로 저장되었습니다.

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/anaconda3/lib/python3.12/site-packages (from geopy) (2.0)

### 3. 관광지 데이터 전처리 및 EDA

In [ ]:
place_loc = pd.read_csv('./전국관광지정보표준데이터.csv', encoding='cp949')
place_loc = place_loc[place_loc['소재지도로명주소'].str.contains('서울', na=False)]
place_loc['관광지명'].unique

<bound method Series.unique of 4               서울 원효로 예수성심당
6                심원정 왜명강화지처비
7                    청암동 부군당
8                    산천동 부군당
9      3.1운동 용산인쇄소 노동자 만세시위지
               ...
582                     허가바위
675             후암동 조선은행 사택지
824                 당고개 순교성지
825         옛 풍국제과 공장(현 오리온)
826                    용산신학교
Name: 관광지명, Length: 61, dtype: object>

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)     # 모든 행 출력
print(place_loc)

                          관광지명 관광지구분                  소재지도로명주소  \
4                 서울 원효로 예수성심당   관광지       서울특별시 용산구 원효로19길 49
6                  심원정 왜명강화지처비   관광지       서울특별시 용산구 효창원로8길 28
7                      청암동 부군당   관광지       서울특별시 용산구 원효로 17-11
8                      산천동 부군당   관광지       서울특별시 용산구 효창원로15길 7
9        3.1운동 용산인쇄소 노동자 만세시위지   관광지       서울특별시 용산구 원효로41길 33
10                   이봉창 의사 집터   관광지         서울특별시 용산구 백범로 275
11                     백범김구기념관   관광지          서울특별시 용산구 임정로 26
12                이봉창 의사 역사울림관   관광지       서울특별시 용산구 백범로 281-9
61                     남이장군 사당   관광지      서울특별시 용산구 효창원로 88-10
62                     연복사탑중창비   관광지      서울특별시 용산구 한강대로21나길 7
63   서울 구 용산철도병원 본관(현 용산역사박물관)   관광지   서울특별시 용산구 한강대로14길 35-29
64                    왜고개 순교성지   관광지      서울특별시 용산구 한강대로40길 46
65                옛 간조 경성지점 사옥   관광지      서울특별시 용산구 한강대로42길 13
66                         새남터   관광지          서울특별시 용산구 이촌로 71
67             천주교 순교성지 새남터 성당   관광지        서울특별시 용산구 이촌로 80-8
68                     이태원 부군당   관광지    서울특별시 용산구 녹사평대로40다길 37
69                  유관순 열사 추모비   관광지    서울특별시 용산구 녹사평대로40다길 37
81            큰한강 부군당(한남제1부군당)   관광지      서울특별시 용산구 한남대로8길 9-9
82           작은한강 부군당(한남제2부군당)   관광지    서울특별시 용산구 장문로49길 17-10
83                    이슬람 중앙성원   관광지      서울특별시 용산구 우사단로10길 39
94                       용산공예관   관광지        서울특별시 용산구 이태원로 274
95                    서빙고동 부군당   관광지     서울특별시 용산구 서빙고로59길 3-6
96                     동빙고 부군당   관광지   서울특별시 용산구 서빙고로73길 24-27
97       용산기지 옛 미군장교숙소(현 용산공원)   관광지        서울특별시 용산구 서빙고로 221
98                   김유신 장군 사당   관광지   서울특별시 용산구 서빙고로91길 28-15
99                     보광동 무후묘   관광지       서울특별시 용산구 장문로15나길 6
135                        헌인릉   관광지      서울특별시 서초구 헌인릉길 36-10
136               매헌 윤봉길의사 기념관   관광지          서울특별시 서초구 매헌로 99
137                        고투몰   관광지      서울특별시 서초구 신반포로 지하200
138          세빛섬· 반포대교 달빛무지개분수   관광지   서울특별시 서초구 올림픽대로 2085-14
142                     용마폭포공원   관광지     서울특별시 중랑구 용마산로 250-12
143                      망우리공원   관광지         서울특별시 중랑구 망우로 570
144                      중랑캠핑숲   관광지      서울특별시 중랑구 망우로87길 110
145                     옹기테마공원   관광지      서울특별시 중랑구 신내로21길 116
169                   새남터 순교성지   관광지        서울특별시 용산구 이촌로 80-8
170                   남산&N서울타워   관광지       서울특별시 용산구 남산공원길 105
195                        노들섬   관광지         서울특별시 용산구 양녕로 445
246                      예술의전당   관광지      서울특별시 서초구 남부순환로 2406
247                      국립국악원   관광지      서울특별시 서초구 남부순환로 2364
255                   미당서정주의 집   관광지  서울특별시 관악구 남부순환로 256 나길 4
256                     강감찬전시관   관광지  서울특별시 관악구 낙성대로 77 낙성대공원내
373                  은평역사한옥박물관   관광지        서울특별시 은평구 연서로50길 8
374                        금성당   관광지      서울특별시 은평구 진관2로 57-23
536                        심우장   관광지       서울특별시 성북구 성북로29길 24
537                        길상사   관광지   서울특별시 성북구 선잠로5길 68(성북동)
538                    한국가구박물관   관광지         서울특별시 성북구 대사관로121
540        일제 경성호국신사 계단(108계단)   관광지      서울특별시 용산구 신흥로22가길 33
541                       찬바람재   관광지       서울특별시 용산구 녹사평대로 195
542     옛 남영동 대공분실(현 민주화운동기념관)   관광지      서울특별시 용산구 한강대로71길 37
543         옛 용산공설시장(현 남영아케이드)   관광지       서울특별시 용산구 한강대로84길 7
544                      전쟁기념관   관광지         서울특별시 용산구 이태원로 29
577                     허준근린공원   관광지        서울특별시 강서구 허준로5길 42
578                       양천향교   관광지      서울특별시 강서구 양천로47나길 53
579                        약사사   관광지     서울특별시 강서구 금낭화로17길 261
580                      양천고성지   관광지   서울특별시 강서구 양천로47나길 52-54
581                  궁산땅굴역사전시관   관광지      서울특별시 강서구 양천로49길 106
582                       허가바위   관광지        서울특별시 강서구 허준로5길 15
675               후암동 조선은행 사택지   관광지       서울특별시 용산구 후암로16가길 7
824                   당고개 순교성지   관광지      서울특별시 용산구 청파로 139-26
825           옛 풍국제과 공장(현 오리온)   관광지      서울특별시 용산구 백범로90다길 13
826                      용산신학교   관광지       서울특별시 용산구 원효로19길 49

                    소재지지번주소         위도          경도         면적  \
4       서울특별시 용산구 원효로4가 1-1  37.534209  126.954593     709.00
6      서울특별시 용산구 원효로4가 87-2  37.533425  126.951860    1200.50
7       서울특별시 용산구 청암동 120-2  37.534803  126.946373      29.26
8         서울특별시 용산구 산천동 199  37.535662  126.953170     139.60
9       서울특별시 용산구 원효로3가 1-2  37.535439  126.958416   10702.20
10        서울특별시 용산구 효창동 286  37.540313  126.959653     279.30
11        서울특별시 용산구 효창동 255  37.544278  126.959253   18355.00
12      서울특별시 용산구 효창동 286-7  37.540103  126.960852     484.40
61        서울특별시 용산구 용문동 107  37.536475  126.958433     314.00
62   서울특별시 용산구 한강로3가 40-999  37.529772  126.964742  116403.00
63   서울특별시 용산구 한강로3가 65-154  37.525575  126.965602   10183.80
64      서울특별시 용산구 용산동5가 2-5  37.529902  126.971925    1471.10
65    서울특별시 용산구 한강로2가 112-2  37.530592  126.970508     617.50
66       서울특별시 용산구 이촌동 1-43  37.525879  126.956708     107.70
67      서울특별시 용산구 이촌동 199-1  37.525127  126.957072    3599.00
68       서울특별시 용산구 이태원동 192  37.535878  126.989704     178.00
69       서울특별시 용산구 이태원동 192  37.535878  126.989704     178.00
81      서울특별시 용산구 한남동 385-5  37.531338  127.010397      26.00
82     서울특별시 용산구 한남동 568-88  37.529112  127.004727     159.00
83     서울특별시 용산구 한남동 732-21  37.533251  126.997615    3225.70
94     서울특별시 용산구 한남동 728-10  37.539005  127.002076     672.00
95     서울특별시 용산구 서빙고동 195-3  37.520454  126.993114     272.10
96        서울특별시 용산구 동빙고동 62  37.522143  126.996145     129.00
97   서울특별시 용산구 서빙고동 235-101  37.523010  126.989165   26613.00
98        서울특별시 용산구 보광동 155  37.523941  127.000688     615.00
99        서울특별시 용산구 보광동 419  37.527058  126.997344     202.00
135    서울특별시 서초구 내곡동 1-3079  37.465377  127.083716     247.00
136       서울특별시 서초구 양재동 236  37.473050  127.036977    2627.00
137     서울특별시 서초구 잠원동 68-17  37.506220  127.005052   15601.00
138       서울특별시 서초구 반포동 650  37.512436  126.995962   10421.00
142     서울특별시 중랑구 면목동 산 1-4  37.573352  127.089114  167172.00
143    서울특별시 중랑구 망우동 산 57-1  37.598354  127.114816  832800.00
144        서울특별시 중랑구 망우동 76  37.604955  127.109961  179666.00
145       서울특별시 중랑구 신내동 777  37.612654  127.088519    9000.00
169     서울특별시 용산구 이촌동 199-1  37.525127  126.957072    3599.00
170    서울특별시 용산구 용산동2가 산1-3  37.551123  126.987868    8456.00
195   서울특별시 용산구 이촌동 302-146  37.517664  126.958037   25656.60
246       서울특별시 서초구 서초동 700  37.480240  127.014215  120734.00
247       서울특별시 서초구 서초동 700  37.478352  127.009074   36622.00
255   서울특별시 관악구 남현동 1071-11  37.473403  126.973367     154.71
256       서울특별시 관악구 봉천동 228  37.471972  126.959371     125.00
373     서울특별시 은평구 진관동 135-5  37.640332  126.938010    6530.00
374   서울특별시 은평구 진관동 175-836  37.635135  126.925380    2684.00
536     서울특별시 성북구 성북동 222-1  37.593627  126.991666     386.00
537     서울특별시 성북구 성북동 324-1  37.599109  126.994652   16939.00
538   서울특별시 성북구 성북동 330-577  37.600378  126.993449    5555.00
540   서울특별시 용산구 용산동2가 1-346  37.546023  126.982542     237.20
541    서울특별시 용산구 용산동2가 7-99  37.534815  126.987014     646.60
542      서울특별시 용산구 갈월동 98-8  37.541012  126.971634    6391.00
543      서울특별시 용산구 남영동 28-8  37.543723  126.972924    1449.00
544       서울특별시 용산구 용산동1가 8  37.537314  126.978466  112887.20
577                     NaN  37.567599  126.853729   29843.00
578                     NaN  37.572863  126.839905    1782.00
579                     NaN  37.583126  126.805007     678.00
580                     NaN  37.574254  126.841332   29752.00
581                     NaN  37.572667  126.838365     758.11
582                     NaN  37.569836  126.850030    7456.00
675    서울특별시 용산구 후암동 247-57  37.547716  126.978678    2120.20
824        서울특별시 용산구 신계동 56  37.535590  126.966963    1752.00
825     서울특별시 용산구 문배동 30-10  37.535672  126.969514    3086.00
826     서울특별시 용산구 원효로4가 1-1  37.534209  126.954593     690.00

                                    공공편익시설정보 숙박시설정보         운동및오락시설정보  \
4                                        주차장    NaN               NaN
6                                         쉼터    NaN               NaN
7                                        화장실    NaN               NaN
8                          산천동마을마당(작은쉼터)+화장실    NaN               NaN
9                                        주차장    NaN               NaN
10                                        쉼터    NaN               NaN
11                           지하주차장+야외주차장+화장실    NaN               NaN
12                                        쉼터    NaN               NaN
61                                       화장실    NaN               NaN
62                                        쉼터    NaN               NaN
63                             화장실+수유실+관광안내소    NaN               NaN
64                                       화장실    NaN               NaN
65                                       화장실    NaN               NaN
66                                        쉼터    NaN               NaN
67                                 화장실+관광안내소    NaN               NaN
68                                  관리사무소+쉼터    NaN               NaN
69                                  관리사무소+쉼터    NaN               NaN
81                                    화장실+쉼터    NaN               NaN
82                                    화장실+쉼터    NaN               NaN
83                             화장실+주차장+관광안내소    NaN               NaN
94                               승강기+화장실+주차장    NaN               NaN
95                                       화장실    NaN               NaN
96                                       화장실    NaN               NaN
97                                 관광안내소+화장실    NaN  어린이누리마당+어린이실내놀이터
98                                       화장실    NaN               NaN
99                                       화장실    NaN               NaN
135                                  화장실+주차장    NaN               NaN
136                                  화장실+주차장    NaN               NaN
137                                      화장실    NaN               NaN
138                                  화장실+주차장    NaN           수상컨벤션센터
142                                관리사무소+화장실    NaN     수영장+축구장+배드민턴장
143                                      주차장    NaN               NaN
144                                      주차장    NaN               NaN
145                                      화장실    NaN               NaN
169                            화장실+주차장+관광안내소    NaN               NaN
170                        화장실+주차장+관광안내소+수유실    NaN               NaN
195                                  화장실+주차장    NaN               NaN
246  오페라글라스+물품보관소+키즈라운지+수유실+주차요금+사전정산기+은행ATM    NaN               NaN
247                               화장실+주차장+카페    NaN               NaN
255                                      화장실    NaN               NaN
256                             없음(공원화장실 이용)    NaN               NaN
373                       장난감도서관, 휴게실, 화장실 등     없음                없음
374                                      화장실     없음                없음
536                                      화장실    NaN               NaN
537                                      화장실    NaN               NaN
538                                  화장실+라운지    NaN               NaN
540                                      승강기    NaN               NaN
541                                      승강기    NaN               NaN
542                                      화장실    NaN               NaN
543                                      화장실    NaN               NaN
544                        화장실+주차장+물품보관함+수유실    NaN               NaN
577                                  화장실+주차장    NaN               NaN
578                                      화장실    NaN               NaN
579                                  화장실+주차장    NaN               NaN
580                                     전기시설    NaN               NaN
581                                     전기시설    NaN               NaN
582                                     전기시설    NaN               NaN
675                                    지하주차장    NaN               NaN
824                                      화장실    NaN               NaN
825                                  화장실+주차장    NaN               NaN
826                               주차장+쉼터+화장실    NaN               NaN

                                             휴양및문화시설정보   접객시설정보       지원시설정보  \
4                                                  NaN      NaN          NaN
6                                                  NaN      NaN          NaN
7                                                  NaN      NaN          NaN
8                                                  NaN      NaN          NaN
9                                                  NaN      NaN          NaN
10                                                 NaN      NaN          NaN
11                                                 전시관      NaN  컨벤션홀대회의실교육장
12                                                 NaN      NaN          NaN
61                                                 NaN      NaN          NaN
62                                                 NaN      NaN          NaN
63                                                옥상정원       카페          NaN
64                                                 NaN      NaN          NaN
65                                                 NaN      NaN          NaN
66                                                 NaN      NaN          NaN
67                                                 기념관      NaN          NaN
68                                                 NaN      NaN          NaN
69                                                 NaN      NaN          NaN
81                                                 NaN      NaN          NaN
82                                                 NaN      NaN          NaN
83                                                 NaN      NaN          NaN
94                                                 전시관      공연장        직원휴게실
95                                                 NaN      NaN          NaN
96                                                 NaN      NaN          NaN
97                                                 전시관    누리방카페        직원휴게실
98                                                 NaN      NaN          NaN
99                                                 NaN      NaN          NaN
135                                                NaN      NaN          NaN
136                                                NaN      NaN          NaN
137                                                NaN      NaN          NaN
138                                       미디어아트갤러리+전망대      NaN          NaN
142                                                NaN      NaN          NaN
143                                                NaN      NaN          NaN
144                                                NaN      NaN          NaN
145                                               옹기정원      NaN          NaN
169                                                NaN      NaN          NaN
170                                                전망대  푸드코트+카페          NaN
195                                                NaN      NaN          NaN
246  오페라극장+CJ 토월극장+자유소극장+콘서트홀+IBK챔버홀+리사이틀홀+한가람미술관+서...      NaN          NaN
247                   국악박물관+예악당+우면당+연희풍류극장+국악연수관+야외체험관      NaN          NaN
255                                                NaN      NaN          NaN
256                                                NaN      NaN          NaN
373                                       은평역사실, 한옥전시실  매표소(안내)          NaN
374                                                NaN      NaN          NaN
536                                                NaN      NaN          NaN
537                                                NaN      NaN          NaN
538                                                NaN      NaN          NaN
540                                                NaN      NaN          NaN
541                                                NaN      NaN          NaN
542                                                NaN      NaN          NaN
543                                                NaN      NaN          NaN
544                                                NaN      NaN          NaN
577                                                NaN      NaN          NaN
578                                                NaN      NaN          NaN
579                                                NaN      NaN          NaN
580                                                NaN      NaN          NaN
581                                                NaN      NaN          NaN
582                                                NaN      NaN          NaN
675                                                NaN      NaN          NaN
824                                                NaN      NaN          NaN
825                                                NaN      NaN          NaN
826                                                NaN      NaN          NaN

           지정일자   수용인원수  주차가능수  \
4    2012-06-20      50     10
6    1593-01-01      80     10
7    1953-01-01       5      0
8    2000-10-25      10      0
9    1919-01-01     720      0
10   1994-01-01      20      0
11   2002-10-01    1000    100
12   2020-10-26      30      0
61   1997-07-01      20      0
62   2013-05-23    7760      5
63   2022-01-01     680      0
64   2013-12-15     100     20
65   1889-01-01      40      0
66   1983-01-01      10      0
67   1983-01-01     240     20
68   1619-01-01      20      0
69   2015-09-01      20      0
81   1972-01-01       2      0
82   1972-01-01      10      0
83   1976-05-21     400     50
94   2018-02-08     300     20
95   1973-01-26      20      0
96   1945-01-01      10      0
97   2020-08-01     300     60
98   1992-01-01      40     10
99   1974-01-15      20      0
135  1970-05-26     500     20
136  1988-12-01     400     50
137  1974-04-30   20000      0
138  2014-10-15   20000    635
142  1997-05-10  100000      0
143  1933-05-27  100000    121
144  2010-11-20  100000     68
145  2017-03-15  100000      0
169  1983-01-01     240     20
170  1980-10-15     600      0
195  1995-01-01    1700     30
246  1988-02-15    7000   1212
247  1951-04-10    1160    227
255  2013-01-01      20      0
256  2017-04-01      20      0
373  2014-10-07     300     26
374  2008-07-22      50      0
536  1984-07-05     100      0
537  1997-12-14    1000     50
538  2013-01-01      20     35
540  1905-04-26      20      0
541  2000-12-15      50      0
542  2024-12-01     430      0
543  1920-01-01     100      0
544  1994-06-10    7500    150
577  1993-10-31   20000     10
578  1990-06-18     100      0
579  1980-06-11   12000     50
580  1992-03-10    1000      0
581  2018-05-11      15      0
582  1991-12-24      20      0
675  1905-03-28     141      0
824  1986-01-01     120     10
825  1930-01-01     200     70
826  2012-06-20      50     10

                                                 관광지소개       관리기관전화번호  \
4    1902년에 세워졌으며, 프랑스인 코스트 신부가 설계, 감독 했다. 19세기 말의 ...    02-701-5501
6    임진왜란 당시 명나라 장군 심유경과 왜군의 장수 고니시 유키나가 만나 강화회담을 벌...   02-2199-7240
7    부군당은 마을의 안녕과 복을 지켜주는 부군신을 모신 곳으로 서울의 대표적인 마을신앙...   02-2199-7240
8    부군당은 마을의 안녕과 복을 지켜주는 부군신을 모신 곳으로 서울의 대표적인 마을신앙...   02-2199-7240
9    1919년 3.1운동 당시 용산에서 만세시위가 일어난 곳으로, 용산인쇄소가 있던 자...   02-2199-7240
10   1932년 1월 8일 일왕 히로히토를 처단하려했던 이봉창 의사가 11살 때인 191...   02-2199-7240
11   백범김구기념관은 김구 선생의 삶과 사상을 널리 알리고 계승 발전시키기 위한 취지에서...    02-799-3400
12   용산구를 대표하는 독립투사인 이봉창의사를 추모하고 그의 삶과 독립정신을 기리기 위해...   02-2199-7240
61   구전에 의하면 이시애의 난을 토벌할 때 군병을 훈련시킨 곳이 둔지미(현 삼각지 부근...   02-2199-7240
62   조선을 건국한 태조 이성계의 공덕으로 재건된 연복사 오층불탑의 건립내력을 담은 비석이다.   02-2199-7240
63   1907년 통감부의 철도국 서울진료소로 개원되어 운영되다 1913년 용산철도병원이라...   02-2199-4620
64   왜고개는 조선시대 와서에서 비롯된 이름이다. 왜고개는 조선 말엽 네 번에 걸친 천주...    02-798-2457
65   간조는 일제강점기 대표적인 건설토목회사로 1903년 경부철도 공사를 위해 한반도로 ...   02-2199-7240
66   한강이 범람하여 만들어진 넓은 모래사장으로 군인들의 훈련터로 사용되는 곳이자, 중죄...  070-8672-0327
67   1950년 한국 천주교구는 지금의 장소를 순교성지로 지정하였다. 1981년에는 천주...  070-8672-0327
68   부군당은 마을의 안녕과 복을 지켜주는 부군신을 모신 곳으로 서울의 대표적인 마을신앙...   02-2199-7240

In [ ]:
seoul_place = place_loc[['관광지명', '소재지도로명주소', '위도', '경도']]

In [ ]:
seoul_place

,관광지명,소재지도로명주소,위도,경도
4,서울 원효로 예수성심당,서울특별시 용산구 원효로19길 49,37.534209,126.954593
6,심원정 왜명강화지처비,서울특별시 용산구 효창원로8길 28,37.533425,126.951860
7,청암동 부군당,서울특별시 용산구 원효로 17-11,37.534803,126.946373
8,산천동 부군당,서울특별시 용산구 효창원로15길 7,37.535662,126.953170
9,3.1운동 용산인쇄소 노동자 만세시위지,서울특별시 용산구 원효로41길 33,37.535439,126.958416
10,이봉창 의사 집터,서울특별시 용산구 백범로 275,37.540313,126.959653
11,백범김구기념관,서울특별시 용산구 임정로 26,37.544278,126.959253
12,이봉창 의사 역사울림관,서울특별시 용산구 백범로 281-9,37.540103,126.960852
61,남이장군 사당,서울특별시 용산구 효창원로 88-10,37.536475,126.958433
62,연복사탑중창비,서울특별시 용산구 한강대로21나길 7,37.529772,126.964742
63,서울 구 용산철도병원 본관(현 용산역사박물관),서울특별시 용산구 한강대로14길 35-29,37.525575,126.965602
64,왜고개 순교성지,서울특별시 용산구 한강대로40길 46,37.529902,126.971925
65,옛 간조 경성지점 사옥,서울특별시 용산구 한강대로42길 13,37.530592,126.970508
66,새남터,서울특별시 용산구 이촌로 71,37.525879,126.956708
67,천주교 순교성지 새남터 성당,서울특별시 용산구 이촌로 80-8,37.525127,126.957072
68,이태원 부군당,서울특별시 용산구 녹사평대로40다길 37,37.535878,126.989704
69,유관순 열사 추모비,서울특별시 용산구 녹사평대로40다길 37,37.535878,126.989704
81,큰한강 부군당(한남제1부군당),서울특별시 용산구 한남대로8길 9-9,37.531338,127.010397
82,작은한강 부군당(한남제2부군당),서울특별시 용산구 장문로49길 17-10,37.529112,127.004727
83,이슬람 중앙성원,서울특별시 용산구 우사단로10길 39,37.533251,126.997615
94,용산공예관,서울특별시 용산구 이태원로 274,37.539005,127.002076
95,서빙고동 부군당,서울특별시 용산구 서빙고로59길 3-6,37.520454,126.993114
96,동빙고 부군당,서울특별시 용산구 서빙고로73길 24-27,37.522143,126.996145
97,용산기지 옛 미군장교숙소(현 용산공원),서울특별시 용산구 서빙고로 221,37.523010,126.989165
98,김유신 장군 사당,서울특별시 용산구 서빙고로91길 28-15,37.523941,127.000688
99,보광동 무후묘,서울특별시 용산구 장문로15나길 6,37.527058,126.997344
135,헌인릉,서울특별시 서초구 헌인릉길 36-10,37.465377,127.083716
136,매헌 윤봉길의사 기념관,서울특별시 서초구 매헌로 99,37.473050,127.036977
137,고투몰,서울특별시 서초구 신반포로 지하200,37.506220,127.005052
138,세빛섬· 반포대교 달빛무지개분수,서울특별시 서초구 올림픽대로 2085-14,37.512436,126.995962
142,용마폭포공원,서울특별시 중랑구 용마산로 250-12,37.573352,127.089114
143,망우리공원,서울특별시 중랑구 망우로 570,37.598354,127.114816
144,중랑캠핑숲,서울특별시 중랑구 망우로87길 110,37.604955,127.109961
145,옹기테마공원,서울특별시 중랑구 신내로21길 116,37.612654,127.088519
169,새남터 순교성지,서울특별시 용산구 이촌로 80-8,37.525127,126.957072
170,남산&N서울타워,서울특별시 용산구 남산공원길 105,37.551123,126.987868
195,노들섬,서울특별시 용산구 양녕로 445,37.517664,126.958037
246,예술의전당,서울특별시 서초구 남부순환로 2406,37.480240,127.014215
247,국립국악원,서울특별시 서초구 남부순환로 2364,37.478352,127.009074
255,미당서정주의 집,서울특별시 관악구 남부순환로 256 나길 4,37.473403,126.973367
256,강감찬전시관,서울특별시 관악구 낙성대로 77 낙성대공원내,37.471972,126.959371
373,은평역사한옥박물관,서울특별시 은평구 연서로50길 8,37.640332,126.938010
374,금성당,서울특별시 은평구 진관2로 57-23,37.635135,126.925380
536,심우장,서울특별시 성북구 성북로29길 24,37.593627,126.991666
537,길상사,서울특별시 성북구 선잠로5길 68(성북동),37.599109,126.994652
538,한국가구박물관,서울특별시 성북구 대사관로121,37.600378,126.993449
540,일제 경성호국신사 계단(108계단),서울특별시 용산구 신흥로22가길 33,37.546023,126.982542
541,찬바람재,서울특별시 용산구 녹사평대로 195,37.534815,126.987014
542,옛 남영동 대공분실(현 민주화운동기념관),서울특별시 용산구 한강대로71길 37,37.541012,126.971634
543,옛 용산공설시장(현 남영아케이드),서울특별시 용산구 한강대로84길 7,37.543723,126.972924
544,전쟁기념관,서울특별시 용산구 이태원로 29,37.537314,126.978466
577,허준근린공원,서울특별시 강서구 허준로5길 42,37.567599,126.853729
578,양천향교,서울특별시 강서구 양천로47나길 53,37.572863,126.839905
579,약사사,서울특별시 강서구 금낭화로17길 261,37.583126,126.805007
580,양천고성지,서울특별시 강서구 양천로47나길 52-54,37.574254,126.841332
581,궁산땅굴역사전시관,서울특별시 강서구 양천로49길 106,37.572667,126.838365
582,허가바위,서울특별시 강서구 허준로5길 15,37.569836,126.850030
675,후암동 조선은행 사택지,서울특별시 용산구 후암로16가길 7,37.547716,126.978678
824,당고개 순교성지,서울특별시 용산구 청파로 139-26,37.535590,126.966963
825,옛 풍국제과 공장(현 오리온),서울특별시 용산구 백범로90다길 13,37.535672,126.969514
826,용산신학교,서울특별시 용산구 원효로19길 49,37.534209,126.954593

In [10]:
# 관광지 데이터 더 괜찮은 거 찾음
# LC_LO: 경도, LC_LA: 위도, CTPRVN_NM: 시도명

tour_df = pd.read_csv('./국내_지역별_관광명소데이터.csv', encoding='utf-8')
tour_df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCLANPO23N000000001,장소,관광지,76838,간절곶등대,NaN,NaN,60513,일반관광지,3171031025100280001,...,3.171043e+11,간절곶1길,39-2,129.360675,35.359029,마마690086,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
1,KCLANPO23N000000002,장소,관광지,141502,우성항공여행사,NaN,NaN,60403,항공사/여행사,4579025021102250000,...,4.579033e+11,중앙로,232,126.700823,35.434790,다마274157,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
2,KCLANPO23N000000003,장소,관광지,142394,우정여행사,NaN,NaN,60403,항공사/여행사,1114010300100310023,...,1.114041e+11,세종대로20길,15,126.978339,37.567237,다사539521,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
3,KCLANPO23N000000004,장소,관광지,145432,비산항공여행사,NaN,NaN,60403,항공사/여행사,1165010700100520006,...,1.165031e+11,서초중앙로,225,127.011566,37.501664,다사568448,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
4,KCLANPO23N000000005,장소,관광지,149376,부래여행사,NaN,NaN,60403,항공사/여행사,2611010700100550001,...,2.611031e+11,해관로,76,129.035622,35.105620,마라399800,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51475,KCLANPO23N000051476,장소,관광지,23412510,삼척맹방해변길,NaN,NaN,60513,일반관광지,5123031022102210009,...,NaN,NaN,NaN,129.230584,37.391000,마사531338,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51476,KCLANPO23N000051477,장소,관광지,23412511,영덕블루로드,NaN,NaN,60513,일반관광지,4777031031105810000,...,NaN,NaN,NaN,129.391512,36.358874,마바697196,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51477,KCLANPO23N000051478,장소,관광지,23412512,관악별빛산책,NaN,NaN,60523,지역축제,1162010200116420007,...,NaN,NaN,NaN,126.926914,37.483544,다사493428,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51478,KCLANPO23N000051479,장소,관광지,23412513,서면빛축제,NaN,NaN,60523,지역축제,2623010300105760001,...,2.623042e+11,신천대로78번길,51,129.057691,35.154344,마라418854,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51479,KCLANPO23N000051480,장소,관광지,23412674,달빛야경,NaN,NaN,60520,캠핑장,4159012500102000025,...,4.159032e+11,화산북로,11,127.006585,37.209344,다사562123,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220

In [11]:
tour_df.columns

Index(['ID', 'LCLAS_NM', 'MLSFC_NM', 'POI_ID', 'POI_NM', 'BHF_NM', 'ASSTN_NM',
       'CL_CD', 'CL_NM', 'PNU', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_NM',
       'LI_NM', 'LNBR_NO', 'LEGALDONG_CD', 'ADSTRD_CD', 'RDNMADR_CD',
       'RDNMADR_NM', 'BULD_NO', 'LC_LO', 'LC_LA', 'GID_CD', 'LAST_CHG_DE',
       'ORIGIN_NM', 'FILE_NM', 'BASE_DE'],
      dtype='object')

In [12]:
tour_df['CTPRVN_NM']

0          울산광역시
1           전라북도
2          서울특별시
3          서울특별시
4          부산광역시
          ...
51475    강원특별자치도
51476       경상북도
51477      서울특별시
51478      부산광역시
51479        경기도
Name: CTPRVN_NM, Length: 51480, dtype: object

In [13]:
seoul_tour = tour_df[tour_df['CTPRVN_NM'] == '서울특별시']
seoul_tour

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
2,KCLANPO23N000000003,장소,관광지,142394,우정여행사,NaN,NaN,60403,항공사/여행사,1114010300100310023,...,1.114041e+11,세종대로20길,15,126.978339,37.567237,다사539521,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
3,KCLANPO23N000000004,장소,관광지,145432,비산항공여행사,NaN,NaN,60403,항공사/여행사,1165010700100520006,...,1.165031e+11,서초중앙로,225,127.011566,37.501664,다사568448,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
6,KCLANPO23N000000007,장소,관광지,157191,유타항공여행사,NaN,NaN,60403,항공사/여행사,1165010600100130001,...,1.165042e+11,강남대로101길,17,127.018412,37.516701,다사574464,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
9,KCLANPO23N000000010,장소,관광지,167131,미르탑항공사,NaN,NaN,60403,항공사/여행사,1111013800100750009,...,1.111031e+11,종로,78,126.986053,37.569904,다사546524,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
11,KCLANPO23N000000012,장소,관광지,170115,문화관광,NaN,NaN,60403,항공사/여행사,1114011800100630009,...,1.114020e+11,세종대로,3-1,126.972501,37.557685,다사534510,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51442,KCLANPO23N000051443,장소,관광지,23408365,한아국제여행사,NaN,NaN,60403,항공사/여행사,1154510300109350000,...,1.154531e+11,독산로,8,126.904021,37.448504,다사472389,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51450,KCLANPO23N000051451,장소,관광지,23409202,스마트락,NaN,NaN,60520,캠핑장,1153010200101970010,...,1.153041e+11,디지털로33길,55,126.893040,37.486756,다사463432,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51455,KCLANPO23N000051456,장소,관광지,23409470,강호여행사,NaN,NaN,60403,항공사/여행사,1165010600100390001,...,1.165042e+11,신반포로45길,26,127.018696,37.511717,다사574459,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51458,KCLANPO23N000051459,장소,관광지,23410017,바카티오,NaN,NaN,60403,항공사/여행사,1141011200101100038,...,1.141041e+11,연세로2마길,29,126.942005,37.558394,다사507511,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220
51477,KCLANPO23N000051478,장소,관광지,23412512,관악별빛산책,NaN,NaN,60523,지역축제,1162010200116420007,...,NaN,NaN,NaN,126.926914,37.483544,다사493428,20240108,KT,KC_495_LLR_ATRCTN_2023,20231220

In [14]:
tour_df['CL_NM'].unique()

array(['일반관광지', '항공사/여행사', '천연기념물', '관광안내소/매표소', '유명사적/유적지', '영어마을',
       '먹거리/패션거리', '동물원', '테마공원/대형놀이공원', 'N', '비/탑/문/각', '야영장', '식물원',
       '관광농원/허브마을', '팜스테이', '유명관광지', '드라마/영화촬영지', '일반유원지/일반놀이공원', '국보',
       '캠핑장', '폭포/계곡', '서원/향교/서당', '정보화마을', '휴양림/수목원', '지역축제',
       '고택/생가/민속마을', '해수욕장', '보물', '왕릉/고분', '아쿠아리움/대형수족관', '온천지역',
       '궁궐/종묘', '성/성터', '캠핑홀리데이(캠핑)', '글램핑코리아(캠핑)', '잼핑홀리데이(캠핑)'],
      dtype=object)

In [15]:
print(tour_df[tour_df['CL_NM'] == '일반관광지'])

                        ID LCLAS_NM MLSFC_NM    POI_ID     POI_NM   BHF_NM  \
0      KCLANPO23N000000001       장소      관광지     76838      간절곶등대      NaN
28     KCLANPO23N000000029       장소      관광지    222649       삼청동길      NaN
35     KCLANPO23N000000036       장소      관광지    248095    선진전위치료기      NaN
60     KCLANPO23N000000061       장소      관광지    350176       창원의집      NaN
62     KCLANPO23N000000063       장소      관광지    453527     헤모수불가마      NaN
...                    ...      ...      ...       ...        ...      ...
51423  KCLANPO23N000051424       장소      관광지  23406809    경기옛길평해길  제10길솔치길
51473  KCLANPO23N000051474       장소      관광지  23412507  한탄강물윗길트레킹      NaN
51474  KCLANPO23N000051475       장소      관광지  23412509    동해망상해변길      NaN
51475  KCLANPO23N000051476       장소      관광지  23412510    삼척맹방해변길      NaN
51476  KCLANPO23N000051477       장소      관광지  23412511     영덕블루로드      NaN

       ASSTN_NM  CL_CD  CL_NM                  PNU  ...    RDNMADR_CD  \
0           NaN  60513  일반관광지  3171031025100280001  ...  3.171043e+11
28          NaN  60513  일반관광지  1111014000100180003  ...           NaN
35          NaN  60513  일반관광지  2917011200110020004  ...  2.917032e+11
60          NaN  60513  일반관광지  4812112500100690000  ...  4.812148e+11
62          NaN  60513  일반관광지  4146510100107420000  ...  4.146532e+11
...         ...    ...    ...                  ...  ...           ...
51423       NaN  60513  일반관광지  4183038027108990003  ...  4.183045e+11
51473       NaN  60513  일반관광지  5178025629105220013  ...           NaN
51474       NaN  60513  일반관광지  5117012900100040003  ...           NaN
51475       NaN  60513  일반관광지  5123031022102210009  ...           NaN
51476       NaN  60513  일반관광지  4777031031105810000  ...           NaN

      RDNMADR_NM BULD_NO       LC_LO      LC_LA    GID_CD  LAST_CHG_DE  \
0          간절곶1길    39-2  129.360675  35.359029  마마690086     20240108
28           NaN     NaN  126.981658  37.587755  다사542543     20240108
35           서하로     378  126.921331  35.185510  다라473879     20240108
60       사림로16번길      59  128.681603  35.244455  마라075949     20240108
62          풍덕천로     191  127.101545  37.326838  다사646253     20240108
...          ...     ...         ...        ...       ...          ...
51423       윗배내길     124  127.775942  37.396231  라사244330     20240108
51473        NaN     NaN  127.270174  38.206437  다아798229     20240108
51474        NaN     NaN  129.106315  37.583044  마사418549     20240108
51475        NaN     NaN  129.230584  37.391000  마사531338     20240108
51476        NaN     NaN  129.391512  36.358874  마바697196     20240108

       ORIGIN_NM                 FILE_NM   BASE_DE
0             KT  KC_495_LLR_ATRCTN_2023  20231220
28            KT  KC_495_LLR_ATRCTN_2023  20231220
35            KT  KC_495_LLR_ATRCTN_2023  20231220
60            KT  KC_495_LLR_ATRCTN_2023  20231220
62            KT  KC_495_LLR_ATRCTN_2023  20231220
...          ...                     ...       ...
51423         KT  KC_495_LLR_ATRCTN_2023  20231220
51473         KT  KC_495_LLR_ATRCTN_2023  20231220
51474         KT  KC_495_LLR_ATRCTN_2023  20231220
51475         KT  KC_495_LLR_ATRCTN_2023  20231220
51476         KT  KC_495_LLR_ATRCTN_2023  20231220

[2779 rows x 27 columns]

In [ ]:
print(tour_df[tour_df['CL_NM'] == 'N'])

                        ID LCLAS_NM MLSFC_NM    POI_ID        POI_NM BHF_NM  \
69     KCLANPO23N000000070       장소      관광지    539117           향나무    NaN
605    KCLANPO23N000000606       장소      관광지   6974497          구리타워    NaN
16847  KCLANPO23N000016848       장소      관광지  16925934         일본군관사    NaN
16887  KCLANPO23N000016888       장소      관광지  16940796    씨없는곶감마을휴양관    NaN
16916  KCLANPO23N000016917       장소      관광지  16982026         오일장개발    NaN
...                    ...      ...      ...       ...           ...    ...
51131  KCLANPO23N000051132       장소      관광지  23322269  외할머니집가는길체험농장    NaN
51214  KCLANPO23N000051215       장소      관광지  23338249           사물제    NaN
51215  KCLANPO23N000051216       장소      관광지  23338250           삼성제    NaN
51216  KCLANPO23N000051217       장소      관광지  23338251           명륜당    NaN
51322  KCLANPO23N000051323       장소      관광지  23394867         쉬어가삼례    NaN

       ASSTN_NM  CL_CD CL_NM                  PNU  ...    RDNMADR_CD  \
69          NaN  60600     N  1111013000100020071  ...  1.111031e+11
605         NaN  60500     N  4131010700100060000  ...  4.131032e+11
16847       NaN  60600     N  1144012700117350000  ...  1.144020e+11
16887       NaN  60500     N  4572039021108820001  ...  4.572033e+11
16916       NaN  60400     N  5013032021106290001  ...  5.013034e+11
...         ...    ...   ...                  ...  ...           ...
51131       NaN  60500     N  4511114500101390001  ...  4.511146e+11
51214       NaN  60600     N  2772035021102170000  ...  2.772047e+11
51215       NaN  60600     N  2772035021102170000  ...  2.772047e+11
51216       NaN  60600     N  2772035021102170000  ...  2.772047e+11
51322       NaN  60500     N  4571025022102830015  ...  4.571033e+11

      RDNMADR_NM BULD_NO       LC_LO      LC_LA    GID_CD  LAST_CHG_DE  \
69           율곡로      99  126.989473  37.579318  다사549534     20240108
605         왕숙천로      49  127.160062  37.588865  다사699544     20240108
16847       가양대로     179  126.883062  37.584538  다사455540     20240108
16887        봉학로  419-12  127.397084  35.888695  다마907657     20240108
16916      표선중앙로      84  126.832916  33.325814  다나379817     20240108
...          ...     ...         ...        ...       ...          ...
51131       안심새길    28-1  127.066693  35.823022  다마608585     20240108
51214        읍내길   89-27  128.720205  36.173542  마마097980     20240108
51215        읍내길   89-27  128.719900  36.173511  마마097980     20240108
51216        읍내길   89-27  128.720037  36.173608  마마097980     20240108
51322       삼례역로      85  127.064517  35.906515  다마607678     20240108

       ORIGIN_NM                 FILE_NM   BASE_DE
69            KT  KC_495_LLR_ATRCTN_2023  20231220
605           KT  KC_495_LLR_ATRCTN_2023  20231220
16847         KT  KC_495_LLR_ATRCTN_2023  20231220
16887         KT  KC_495_LLR_ATRCTN_2023  20231220
16916         KT  KC_495_LLR_ATRCTN_2023  20231220
...          ...                     ...       ...
51131         KT  KC_495_LLR_ATRCTN_2023  20231220
51214         KT  KC_495_LLR_ATRCTN_2023  20231220
51215         KT  KC_495_LLR_ATRCTN_2023  20231220
51216         KT  KC_495_LLR_ATRCTN_2023  20231220
51322         KT  KC_495_LLR_ATRCTN_2023  20231220

[1355 rows x 27 columns]

In [16]:
seoul_tour = seoul_tour[['POI_NM', 'CL_NM', 'CTPRVN_NM', 'LC_LO', 'LC_LA']]
seoul_tour

        POI_NM    CL_NM CTPRVN_NM       LC_LO      LC_LA
2        우정여행사  항공사/여행사     서울특별시  126.978339  37.567237
3      비산항공여행사  항공사/여행사     서울특별시  127.011566  37.501664
6      유타항공여행사  항공사/여행사     서울특별시  127.018412  37.516701
9       미르탑항공사  항공사/여행사     서울특별시  126.986053  37.569904
11        문화관광  항공사/여행사     서울특별시  126.972501  37.557685
...        ...      ...       ...         ...        ...
51442  한아국제여행사  항공사/여행사     서울특별시  126.904021  37.448504
51450     스마트락      캠핑장     서울특별시  126.893040  37.486756
51455    강호여행사  항공사/여행사     서울특별시  127.018696  37.511717
51458     바카티오  항공사/여행사     서울특별시  126.942005  37.558394
51477   관악별빛산책     지역축제     서울특별시  126.926914  37.483544

[10908 rows x 5 columns]

In [17]:
# 항공사/여행사 위치는 관광지랑 관련이 적어서 제외
seoul_tour = seoul_tour[seoul_tour['CL_NM'] != '항공사/여행사']
seoul_tour

              POI_NM      CL_NM CTPRVN_NM       LC_LO      LC_LA
28              삼청동길      일반관광지     서울특별시  126.981658  37.587755
59            서울영어마을       영어마을     서울특별시  127.008515  37.639904
66         어린이대공원매표소  관광안내소/매표소     서울특별시  127.083936  37.551306
67     연세대학교신촌캠퍼스매표소  관광안내소/매표소     서울특별시  126.941825  37.563999
69               향나무          N     서울특별시  126.989473  37.579318
...              ...        ...       ...         ...        ...
51290             누옥       팜스테이     서울특별시  126.965936  37.579542
51313            무월관       팜스테이     서울특별시  126.983597  37.577241
51333          클래식고택       팜스테이     서울특별시  126.985648  37.580387
51450           스마트락        캠핑장     서울특별시  126.893040  37.486756
51477         관악별빛산책       지역축제     서울특별시  126.926914  37.483544

[1662 rows x 5 columns]

In [18]:
# 관광안내소/매표소와 관광지가 중복이 되기 때문에 제외
seoul_tour = seoul_tour[seoul_tour['CL_NM'] != '관광안내소/매표소']
seoul_tour

           POI_NM     CL_NM CTPRVN_NM       LC_LO      LC_LA
28           삼청동길     일반관광지     서울특별시  126.981658  37.587755
59         서울영어마을      영어마을     서울특별시  127.008515  37.639904
69            향나무         N     서울특별시  126.989473  37.579318
122    남산공원남산케이블카     유명관광지     서울특별시  126.983974  37.556648
136      신당동떡볶이골목  먹거리/패션거리     서울특별시  127.015048  37.563323
...           ...       ...       ...         ...        ...
51290          누옥      팜스테이     서울특별시  126.965936  37.579542
51313         무월관      팜스테이     서울특별시  126.983597  37.577241
51333       클래식고택      팜스테이     서울특별시  126.985648  37.580387
51450        스마트락       캠핑장     서울특별시  126.893040  37.486756
51477      관악별빛산책      지역축제     서울특별시  126.926914  37.483544

[1601 rows x 5 columns]

In [19]:
unique_tour = list(seoul_tour['POI_NM'].unique())
print(unique_tour)

['삼청동길', '서울영어마을', '향나무', '남산공원남산케이블카', '신당동떡볶이골목', '압구정로데오거리', '문정로데오거리', '신림동순대골목', '가리봉로데오거리', '인사동거리', '장충동족발골목', '장통교', '수표교', '새벽다리', '나래교', '맑은내다리', '광통교', '불광동먹자골목', '반포치킨거리', '성신여대패션거리', '삼각지대구탕골목', '자동차용품거리', '패션문화의거리', '종로아구찜골목', '사주카페골목', '신천먹자골목', '방이먹자골목', '방배동카페골목', '신사동먹자골목', '천호동먹자골목', '무교동낙지골목', '북창동먹자골목', '창동로데오거리', '마포돼지갈비골목', '세계음식거리', '빌라촌음식골목', '건대앞먹자골목', '교대곱창골목', '난지한강공원난지캠핑장', '예술거리', '이태원관광특구', '가회동31번지', '가로수길', '남대문시장갈치조림골목', '감성의거리', '고가구골목', '외국인거리', '곱창골목', '극장거리', '기찻길고기골목', '놀이터골목', '대학로주변극장', '대학로거리', '유흥가', '일본거리', '이촌지구', '명동화교거리', '이경직신도비', '중국대사관거리', '덕수궁돌담길', '서울천년타임캡슐', '서울선릉과정릉', '용마공원용마랜드', '청계천', '어린이대공원', '롯데월드', '로데오패션타운', '코엑스아쿠아리움', '63스퀘어아쿠아플라넷', '남산서울타워', '영은문주초', '남산공원남산야외식물원', '노원영어마을', '영어체험마을', '국립산림과학원홍릉수목원', '구파발폭포', '북한산둘레캠핑장', '창덕궁', '경복궁', '경희궁', '운현궁', '창경궁', '광평대군묘역', '서울방이동고분군', '사육신묘', '선릉', '정릉', '정현왕후묘', '헌인릉', '양녕대군묘소', '광화문', '광희문', '낙성대', '남산봉수대', '망원정', '몽촌토성', '백제석촌고분', '백제요지', '보신각', '삼성산성지', '마애여래입상', '새남터순교성지', '서소문순교성지', '서울한양도성', '세검정', '숙정문', '숭례문', '암사선사유적지', '여운형묘소', '연산군묘', '영휘원', '왜고개성지', '절두산순교성지', '종묘', '청권사', '태릉', '풍납토성', '효령대군묘', '흥인지문', '홍릉', '숭인원', '독립문', '굴참나무', '흥화문', '4.19탑', '강동예찬시비', '강사상신도비', '궁산소악루', '북악팔각정', '서울삼전도비', '세계평화의문', '창의문', '혜화문', '남산한옥마을', '북촌한옥마을', '성락원', '성균관', '양천향교', '구암서원터', '아차산성', '우이동유원지', '북악스카이웨이', '우이동먹거리마을', '덕수궁중명전', '팔각정', '살사바가치', '명성황후촬영지', '겨울연가촬영지', '괴물촬영지', '천국의계단촬영지', '옛골주말농장', '청계농장', '승화수목원', '개화마을', '오재미동', '봉황각', '홍대피카소거리', '덕수궁', '웨딩드레스거리', '불교용품거리', '대학천책방거리', '웨딩드레스상가', '을지로페인트거리', '원각사지10층석탑', '인조별서유기비', '단정문', '동관왕묘', '마애석가여래좌상', '당간지주', '돈화문', '서울선잠단지', '사직단', '서울문묘', '잠두봉유적', '선농단', '윤보선가', '백석동천유적', '전곶교', '의릉', '우정총국', '진흥왕순수비유지', '관상감관천대', '양천고성지', '백송', '다래나무', '중종대왕릉', '성종대왕릉', '총무당', '보신각종', '목동로데오거리', '건대로데오거리', '광진교전망쉼터', '천장산연화사반야문', '창녕위궁재사', '양주조씨묘역', '번동느티나무', '오패산산신제', '서울창포원', '세종대왕동상', '국제금융디자인거리', '을지로한빛거리', '한빛미디어파크', '한빛미디어갤러리', '서울영어마을관악캠프', '노을캠핑장', '강동그린웨이가족캠핑장', '우이동계곡', '동대문패션축제', '대한민국전통연희축제', '서울국제공연예술제', '하이서울페스티벌', '서울세계무용축제', '서울DMC컬쳐오픈', '서울변방연극제', '서울카페쇼', '대한민국공예품대전', '마포나루새우젓축제', '한성백제문화제', '효간공이정영묘역', '북한산둘레길', '서울성곽순례길', '아차산올레길', '영국사영산회후불탱', '이형좌명원종공신녹권및함', '뿌리깊은수목원', '서울경교장', '이순신장군동상', '친환경나눔텃밭', '푸른수목원', '정의공주텃밭농장', '이화장', '중랑캠핑숲', '서울호암산성', '뽀로로파크', '북한산성코스입구', '코코몽키즈랜드', '마장동먹자골목', '벽운계곡', '디보빌리지', '북서울꿈의숲월광폭포', '백사실계곡', '만해한용운심우장', '효사정', '영순군묘', '청안군묘', '임정부정묘', '회원군묘', '남천군묘', '곤명군묘', '영순군김제군부인묘', '오해피팜', '노원문화의거리', '홍난파가옥', '홍대클럽거리', '허밍웨이', '미성서원', '남강서원', '다솜서원', '금탑서원', '해태서원', '장원서원', '도봉서원', '장미서원', '신성서원', '송원서원', '금강서원', '광신서원', '예문서원', '인성서원', '영신서원', '이룸서원', '참빛서원', '고려서원', '구천폭포', '동령폭포', '청수폭포', '관악산자연공원야외식물원', '북아현동가구거리', '서울약령시대축제', '서울세계불꽃축제', '서울등축제', '운현궁양관', '천호동로데오거리', '너구리상', '삼천사계곡', '이화벽화마을', '용두동쭈꾸미골목', '청계천판잣집테마존', '라스카키즈랜드', '왕십리곱창골목', '연신내로데오거리', '과해주말농장', '윤중로벚꽃길', '홍대걷고싶은거리', '태현주말농장', '방배역먹자골목', '수유리먹자골목', '모래내시장먹자골목', '104고지전적비', '서울시민천문대', '도봉계곡', '벽운동계곡', '관악산계곡', '중랑캠핑숲캠핑장', '강릉', '돈의문터', '소의문터', '남소문터', '공덕역전골목', '종친부', '세종마을음식문화거리', '금천구친환경주말농장', '신길벚꽃거리', '구로시장떡볶이골목', '공민왕사당', '서래마을', '마포최사영고택', '인사동문화의거리', '고희동가옥', '종로귀금속거리', '천호동문구완구거리', '평창동보현산신각', '공덕동족발골목', '한강파라다이스오리배탑승장', '방이동숙박촌', '무수골주말농장', '인왕산수성동계곡', '종각젊음의거리', '황학동주방거리', '행운동먹자골목', '미소석가불', '석파정', '잠원한강공원캠핑장', '걷고싶은문화의거리', '천호공구거리', '잠실한강공원캠핑장', '박정희대통령가옥', '서교동최규하대통령가옥', '진관사계곡', '최규식경무관동상', '금성당', '일본군관사', '평화비소녀상', '천도교중앙대교당', '롯데월드몰롯데월드아쿠아리움', '서울특별시청서소문청사별관정동전망대', '아라한강갑문인증센터', '노들섬노들텃밭', '남대문칼국수골목', '민병옥가옥', '석촌호수벚꽃축제', '테지움테디베어테마파크', '13도창의군탑', '전형필가옥', '올림픽공원장미전시회', '양효공안맹담과정의공주묘역', '먹거리촌', '마포음식문화거리', '깔깔거리', '강풀만화거리', '중계동학원가', '을지로가구거리', '인현시장먹거리', '세계음식특화거리', '청량리먹자골목', '동대문생선구이골목', '다이나믹메이즈', '응봉산팔각정', '대한민국커피축제', '독도둘레길체험여의도걷기대회', '경복궁자경전다례체험행사', '서울국제핸드메이드페어', '대한민국인삼한마당축제', '청룡문화제', '한국국제걷기대회', '창덕궁달빛기행', '북팔코믹스페스티벌', '덕수궁정동야행', '대한민국청소년미디어대전', '정동문화축제', '롯데월드할로윈파티', '대한민국향토식문화대전', '광화문국제아트페스티벌', '대한민국국제음악제', '마약퇴치기원걷기대회', '서울김장문화제', '서울국화전시회', '조계사국화향기나눔전', '서울디자인페스티벌', '대한민국국제포토페스티벌', '앱쇼코리아', '토요일오후의실내악', '토요명품공연', '서울아트쇼', '강남케이스타로드', '정릉유원지', '경리단길', '당고개순교성지', '동대문패션거리', '동대문패션타운관광특구', '홍대거리', '청담동거리', '연세로', '이태원쇼핑거리', '헌인릉생태경관보전지역', '해풍부원군윤택영댁재실', '고덕동생태경관보전지역', '유즈패밀리', '잠실관광특구', '청와대앞길', '명동남대문북창관광특구', '종로청계관광특구', '종로', '삼순계단', '노태우대통령사저', '성북생태체험관', '회기역파전골목', '백인제가옥', '윤동주하숙집', '문래창작촌', '녹두거리', '성수동수제화거리', '여의도한강공원캠핑장', '관악산제2야영장', '해방촌', '베짱이유아숲체험장', '한강여름캠핑장여의도캠핑장', '한강여름캠핑장뚝섬캠핑장', '문정컬쳐밸리', '아차산해맞이축제', '서울크리스마스페스티벌', '2020서울아시테지겨울축제', '골프로데오거리', '개화산해맞이행사', '인왕산청운공원해맞이축제', '성내유수지생태공원', '올림픽공원9경스템프투어', '제야의종타종행사', 'ARKO한국창작음악제', '하늘공원해맞이행사', '모던태권도킥스', '응봉산해맞이축제', '남산골한옥마을세시맞이오대감설날잔치', '국립민속박물관설한마당', '북촌한옥마을정월대보름맞이행사', '북서울꿈의숲정월대보름한마당', '국립민속박물관정월대보름한마당', '국기원태권도시범단상설공연위대한태권도', '눈누난나디저트플리마켓', '롯데월드마스크페스티벌', '내나라여행박람회', '서울밤도깨비야시장', '문래문화투어올래문래', '서대문1919그날의함성', '수양벚꽃과함께하는열린현충원행사', '궁중문화축전', '금천하모니벚꽃축제', '디자인아트페어', '응봉산개나리축제', '충무공이순신탄신기념행사', '4.19혁명국민문화제', '서울연극제', '고종명성후가례재현행사', '한강봄꽃피크닉페스티벌', '서울명산트레킹', '6시내고향토종씨앗축제', '어린이벼룩시장', '세종예술시장소소', '치매극복전국걷기대회', '연등회', '씨페스티벌', '전쟁기념관어린이날문화축제', '한강서래섬유채꽃축제', '대한민국어린이축제', '서울동화축제', '서울중랑장미공원', '지구촌나눔한마당', '서울드럼페스티벌', '종묘대제', '서울자전거대행진', '모다페', '한국음식관광박람회', '서울재즈페스티벌', '남대구관광특구아동복대축제', '희망의운동화나눔축제', '강동북페스티벌', '서울스프링실내악축제', '그린플러그드서울', '꿈나무어린이날큰잔치', '대한민국국제요리경연대회', '전통주와전통음식의만남축제', '성북문화다양성축제누리마실', '국회동심한마당', '필스너스프링페스트', '최순우옛집시민축제', '다산성곽길예술마당', '자연휴양림휴문화한마당', '압구정로데오힐링페스티벌', '신촌뷰티페스티벌', '우유의날앤국내산치즈페스티벌', '통일박람회', '커플런', '서울시와함께하는작은가게페스티벌', '네꿈을펼쳐라', '폴란드의날', '정선옹주시집가는날', '대학로거리공연축제', '국제차문화대전', '나라사랑고궁걷기대회', '땡큐페스티벌', '롯데월드리우삼바카니발퍼레이드', '젊은연극제', '라틴아메리카축제', '영등포단오축제', 'KKF펫페스티벌', '창무국제공연예술제', '국립민속박물관단오축제', '한국축제박람회', '남산골한옥마을세시맞이오뉴월단오', '아트업페스티벌', '불꽃곰신페스티벌', '인천보물섬상륙작전', '강동친환경도시농업박람회', '전쟁기념관현충일글짓기그림대회', '신촌물총축제', '한강몽땅여름축제', '서울프린지페스티벌', '시카프', '서울연꽃문화대축제', '신촌맥주축제', '서울국제실험영화페스티벌', '아시아프앤히든아티스트페스티벌', '보드게임콘', '아시테지국제여름축제', '동아제약대학생국토대장정', '한강물싸움축제', '물순환시민문화제', '10초국제애니메이션페스티벌', '서울국제하모니카페스티벌', '협동조합박람회', '창경궁야간상시관람', '버블페스트', '서울세계곤충박람회', 'IDOWORLDDANCECUPS', '웨이크업시티페스타', '연예인과함께하는희망나눔페스티벌', '모두의시민청', '한강이불영화제', '서울국제대안영상예술페스티벌', '서울문화의밤', '세계태권도한마당', '서대문독립민주축제', '한강파이어댄싱페스티벌라파이어', '스타한복페스타', 'HSTARFESTIVAL', '서울소울페스티벌', '전국청소년연극제', '프리마켓사랑해', '서울거리예술축제', '대한민국국제관악제', '서울북페스티벌', '롯데월드호러할로윈', '서리풀페스티벌', '생명사랑밤길걷기', '북촌뮤직페스티벌', '남산골한옥마을오대감한가위잔치', '관광산업채용박람회', '코리안페스티벌', '국립민속박물관추석한마당세시행사', '서울드라마어워즈', '암사동선사주거지추석전통놀이한마당', '구로아시아문화축제', '치매극복의날', '세종페스티벌', '종로한복축제한복자락날리는날', '안심땐쓰', '이태원지구촌축제', '강동선사문화축제', '서울약령시한방문화축제', '한국국제아트페어', '서울아트마켓', '한일축제한마당', '서울아리랑페스티벌', '대학로문화축제', '세계방사선학술대회및총회', '서울정원박람회', '어쿠스틱기타경연대회', 'K-핸드메이드페어', '한국의집전통예술공연', '서울스카이', '봉화산옹기테마공원', '글램핑코리아', '소금길', '초안산캠핑장', '삼청동거리', '연변두부마을', '문화비축기지', 'TVN선다방촬영지', '잣절공원유아숲체험원', '익선동한옥마을', '서촌한옥마을', '돈의문박물관마을', 'FW서울패션위크', '송리단길', '피맛골', '지방자치TV정책연구원', '주식회사온누리모두여행', '아이디티투어', '여행사랑여행사', '댕쇼컴퍼니주식회사', '위니드투어', '이노앤', '뚜벅이어드벤처', '라인업투어', '애플바', '주식회사맘씨좋은여행', '크루', '크라운여행사', '북진트래블', '에이치세븐', '프라이빗항공투어', '채움투어', '인터링크아비아주식회사', '투어로그인', '삼밀여행사', '펀트립', '파란날개투어', '커넥트랩', '잘놀자골프투어', '제이앤제이투어', '렛츠고투어앤리조트', '투게더투어코리아', '주식회사빅트레블', '비디어리', '대종매니지먼트', '더트래블러스', '마이스앱트', '더블디코리아', '주식회사언플러그드', '좋은사람들투어', '주식회사키다리여행사', '더투어스네트워크', '에이치엔엠콘서트', '세한투어', '단꿈투어', '하이엠카', '코난집단유한회사', '천홍국제', '아일랜드리조트클럽', '원투여행사', '알지투어', '미래클라우드', '혜신상품권', '한국투어네트워크', '아이디케인마케팅컴퍼니주식회사', '화린그룹', '대성여행사', '와이즈트래블', '주식회사빈체로', '조은월드트래블', '히말라야여행사', '위드교육', '화인항공', '주식회사올래여행사', '베니컴퍼니', '승리사', '엄지투어', '주식회사레볼리', '탑항공투어', '파라다이스아시아', '사계절투어', '지피인터내셔날', '트래볼루션', '트루아시아', '와이투어', '산타마리아투어', '스테이폴리오', '지구정복', '주식회사루이블랑코리아', '주식회사미츠투어', '레이즈지엘에스주식회사', '케이엔티씨', '피에스타컴퍼니', '토토부킹티피', '프렌즈자유여행', '지니서비스', '주식회사어메이징서울트래블에이전시', '트랜스아시아투어', '넥스트스텝', '서울둘레길1코스수락불암산', '서울둘레길2코스용마아차산', '서울둘레길3코스고덕일자산', '서울둘레길4코스대모우면산', '서울둘레길5코스관악산', '서울둘레길6코스안양천', '서울둘레길7코스봉산앵봉산', '서울둘레길8코스북한산', '주모두모아투어', '주지투어리스트', '온새미로ONSAEMIRO', '한국웨딩문화허니문예약센터', '나엘투어', '에벤에셀투어', '주아이엔지에듀케이션', '주투어네트글로벌', '주트리오스타', '주디와이즈컴즈', '주식회사비스타투어', '드림즈인코리아DREAMSINKOREA', '주유트레블인터내셔널', '와우투어', '주제이콥스코퍼레이션', '주식회사피오디투어', '코린트', '한중문화관광교류센터', '주엠오알아이피', '주크리에이트립', '주앤브로스', '주체공', '쏘다님투어SSODANIMTOUR', '주식회사매직플러스투어', '주토토부킹베트남', '주식회사배우는여행', '주투어카라반', '해중연국제무역주', '주유니크굿컴퍼니', '주식회사크루즈토탈', '이지앤', '업사이드다운투어', 'EMS', '주블루에스엘', '위드유투어', '주에스큐이모션', '주케이삼천리', '태연관광개발주식회사', '주춘하추동여행', '함춘원지', '안암동오층석탑', '롯데월드언더씨킹덤', '천연애여행사송파점', '다물코퍼레이션', '성신여행사', '발리뚜벅이', '제이엠글로벌', '아프로이탈리아', '주식회사메멘토투어', '제이케이트레블', '주식회사에이엠티월드', '유한회사유럽여행연구소', '행복한세상진투어', '이소헌', '위라이드주식회사', '주식회사2교시', '티앤엠코리아', '케이메디칼랩', '천수텃밭농원', '젬투어', '투어웨이', '고니여행사', '익스퍼', '장백여행사', '노르딕콘도르코리아', '큐재팬', '비자플래너', '여행길잡이', '엠미디어', '동양골프', '초코티엔씨', '일석', '하나국제', '대림여행사', '제인국제여행사', '영산교육개발', '스마일투게더', '천하국제여행사', '포도여행사', '의화', '피에스엘투어', '세류', '투어플', '콘체르또', '엠투어인터내셔널', '클라이엔텔', '씨제이여행사', '코엔투', '세종교육여행사', '에이치피와이', '풍운국제여행사', '솔이텃밭', '미래인터내셔널코리아', '다오투어', '애임하이교육', '더원투어', '콘도여행', '짐고트래블', 'MSGTOUR', '소프트엔지니어소사이어티', '피스북스', '컬처웨이', '천화국제', '선시티', '하룡트레블', '럭키여행사', '래피드', '여행비서김비서', '디디월드투어', '윈트래블', '투어몽', '한백국제여행사', '방주투어', '투어프라자', '프리가트', '사당1동먹자골목', '헬로애니멀', '큐트립', '아크노에어', '서울식물원', '태양의놀이터', '뚝섬유수지체육공원정수식물원', '그라스원', '오금공원서울유아숲체험현장', '전통음식고추장교육장', '농업기술센터전통우리음식장류교육장', '대모산공원서울유아숲체험현장', '일자산공원서울유아숲체험현장', '아자스쿨', '아차산유아숲체험장', '앨리스파크', '아띠인력거', '명일공원서울유아숲체험현장', '용산공예관', '이엔타운', '뮤지엄스쿨', '서울숲유아숲체험장', '문화예술공원유아숲체험장', '배봉산유아숲체험장', '남산유아숲체험장', '용마산유아숲체험장', '우면산유아숲체험장', '서달산유아숲체험장', '청계7경존치교각', '답십리공원서울유아숲체험현장', '우면산공원서울유아숲체험현장', '백련산매바위유아숲체험장', '대현산공원서울유아숲체험현장', '봉화산유아숲체험장', '청계천생태학습장', '배봉산공원서울유아숲체험현장', '반딧불이유아숲체험장', '삼청공원유아숲체험장', '상도근린공원유아숲체험장', '청계7경터널분수', '제주국제영어마을', '개운산유아숲체험장', '응봉공원서울유아숲체험현장', '꿀맛스마트교육체험교실', '방배공원서울유아숲체험현장', '역사체험늘봄', '남산공원서울유아숲체험현장', '옹기체험장', '밝히는고래', '인왕산유아숲체험장', '위메이크골프', '봉화산공원서울유아숲체험현장', '청계천민속놀이', '차문화', '한강조망대', '영축산서울유아숲체험현장', '커무브', '관악산서울유아숲체험현장', '상도공원서울유아숲체험현장', '불암산공원서울유아숲체험현장', '북한산공원서울유아숲체험현장', '공터', '신정산우렁바위유아숲체험원', '초안산공원서울유아숲체험현장', '쌍문공원서울유아숲체험현장', '어린이교통안전체험장', '통통역사체험', '상암유아숲체험장', '소요대', '수락산공원서울유아숲체험현장', '용왕산유아숲체험원', '풀무골대장간조형물', '용왕산공원서울유아숲체험현장', '계남공원서울유아숲체험현장', '서오릉공원서울유아숲체험현장', '개웅산유아숲체험원', '우장공원서울유아숲체험현장', '온수공원서울유아숲체험현장', '꿩고개공원서울유아숲체험현장', '열린체험터', '장지공원서울유아숲체험현장', '대모산유아숲체험장', '강동허브단지', '꽃초롱자연학습장', '귀신의집', '포트링', 'SEMA벙커', '숭인공원유아숲체험장', '성동구자전거체험장', '영축산유아숲체험장', '응봉공원유아숲체험장', '영등포구곤충체험학습장', '장충공원서울유아숲체험현장', '한지체험장', '숭인공원서울유아숲체험현장', '관악산공원서울유아숲체험현장', '오동공원서울유아숲체험현장', '백련공원서울유아숲체험현장', '구로안전체험관', '도토리문화학교', '불광천생태체험관', '신사공원서울유아숲체험현장', '아이큐파워아시', '상암공원서울유아숲체험현장', '송파메이커스페이스', '체험세상', '웹툰공작소', 'JMGKOREA', '신촌플레이버스', '서울풍물시장전통문화체험관', '비상대비체험관', 'LGU홈미디어체험관', '나무상상놀이터', '서울사진축제', '이태원거리', '서울디저트페어초코앤딸기', '세빛일루미네이션빛축제', '영등포여의도봄꽃축제', '양재천벚꽃등축제', '동대문봄꽃축제', '구로거리공원벚꽃축제', '서울디저트페어벚꽃앤체리', 'LIFEPLUS벚꽃피크닉', '마포전골목', 'MCN키즈페스티벌', '서울보드게임페스타', '성북세계음식축제누리마실', '신촌야행', '신촌국제꽃시장', '노량진컵밥거리', '단종비정순왕후추모문화제', '대한민국국제요리&제과경연대회', '라이프플러스윈터원더랜드', '서울구로국제어린이영화제', '서울국제푸드앤테이블웨어박람회', '서울술페스티벌', '서울영상광고제', '호국의봄열린현충원행사', '안산자락길벚꽃음악회', '어천절대제전', '한국중고자동차페스티벌', '한마음치매극복전국걷기행사', 'GOLDENNEWYEAR', '황금인간의땅카자흐스탄', '지금만화', '전통연희페스티벌', '울트라코리아', '청춘열전흥페스티벌', '이상의집', '관악산제4야영장', '구조대9야영장', '석굴야영장', '한강나이트워크42K', '문화가흐르는서울광장', '경복궁시식공감', '서울무궁화축제', '라이프플러스시네마위크', '서울디저트페어수박앤망고', '펫터파크PETCATION', '사람사랑생명사랑밤길걷기', '스마트국토엑스포', '명원세계차박람회', '브릭캠퍼스', '다가치에듀케이션', '경복궁생과방', 'DMC맥주페스티벌', '장애인문화예술축제', '모두투어여행박람회', '서울드론챌린지', '실패박람회', '서초서리풀페스티벌', '건강서울페스티벌', '구로G페스티벌', '도봉산페스티벌', '너랑나랑우리랑역사야놀자', '서울세계도시문화축제', '웰컴대학로', '선인장페스티벌', '손병희선생묘소', '419카페거리', '경의선책거리', '공리단길', '망리단길', '샤로수길', '성수동카페거리', '세로수길', '쌍리단길', '용리단길', '우사단길', '은평한옥마을', '장진우거리', '여행페스타', '서울뮤직시티커넥션', '도봉한글잔치', '도심속바다축제', '서울와우북페스티벌', '서울억새축제', '메이커페어서울', '서울커피앤티페어', '양재플라워페스타', '슬로우라이프슬로우라이브', '대한민국나눔대축제', '은평누리축제', '정조대왕능행차공동재현', '자문밖문화축제', '서울무용제', '모두하나대축제', '관악강감찬축제', '세계한인회장대회', '구로청소년축제', '노원탈축제', '사랑인도문화축제', '개천절대제전', '서울국제작가축제', '동대문닭한마리골목', '석촌호수더북앤단풍축제', '항동철길', '명동만화의거리재미로', '코리아월드푸드챔피언십', '코리아월드베버리지챔피언십', '코리아세일페스타', '브릿지워크서울', '강동톡페스티벌', '경북사과홍보행사', '성북책모꼬지', '소방관과함께하는119런', '서울국제불교박람회', '성수동갈비골목', '서울단풍길', '을지로노가리골목', '한마음걷기축제', '서울시민시장위크', '영등포신길동홍어거리', '상수동카페거리', '석촌호수카페거리', '종로한복축제', '감고당길', '서달산수목학습원', '옛주막거리', '박종철거리', '서림길', '유러피언크리스마스마켓', '서울마을미디어축제', '후원', 'LETSGETIT래추기리', '코엑스윈터페스티벌', '남산한국의맛축제', '건대양꼬치골목', '코리아그랜드세일', '서울살롱뒤쇼콜라', '빛의광장INDMC', '영동대로카운트다운', '서울라이트', '서울코믹월드', '불암산더불어숲', '아현동골목길', '신사동가로수길', '홍대패션거리', '홍대앞걷고싶은거리', '양재천카페거리', '젊음의거리', '청담동명품거리', '한류스타거리', '청계천헌책방거리', '남산돈가스거리', '화곡동도매유통단지', '청계천애완동물거리', '홍대벽화거리', '문래역로데오거리', '동대문패션타운', '해방촌예술마을', '락희거리', '퀴논길', '고종의길', '자전거거리', '수족관거리', '재미로', '재팬타운', '위례성길', '홍대땡땡거리', '낙원동아구찜거리', '이대앞사주카페거리', '양재천길', '남산벚꽃길', '수락산디자인거리', '신세계백화점파미에스트리트', '회기동벽화골목', '서리풀푸드트럭존', '장안평제방길', '금천구청역길', '충무로애견거리', '오토바이거리', '사당가구거리', '워커힐길', '한화불꽃길', '연세대학교백양로', '을지로타일상가', '마장동벽화마을', '왕벚꽃나무길', '이화52번가', '방배동사이길', '아틀리에길', '을지로인쇄골목', '장미길', '방학천문화예술거리', '우이동엠티촌', '유네스코길', '연인의거리', '태화관길', '창신동인장거리', '봉제골목', '성수동가죽거리', '흑리단길', '등기소길', '청계산길', '도화동상점가', '29스트리트', '서학당길', '이화대학로거리', '통일로', '카페스트리트', '현충로', '백초월길', '광장시장전골목', '남대문갈치조림골목', '열정도', '대림차이나타운', '을지로3가골뱅이골목', '공덕시장족발골목', '돈의동갈매기살골목', '신촌이대거리', '종로5가곱창골목', '일원동맛의거리', '응암동감자국거리', '굴보쌈골목', '공릉동국수거리', '불광먹자골목', '공덕소담길', '마포갈매기골목', '주꾸미골목', '방배동먹자골목', '왕십리맛골목', '남산돈까스골목', '서울중앙시장쌈밥골목', '창신동족발골목', '네팔음식거리', '방이동먹자촌', '냉면거리', '건대맛의거리', '관철동불닭골목', '다산성곽길', '가리봉연변거리', '삼거리꽃길', '국치길', '왕십리여행자거리', '돈암동거리', '하니사랑길', '영화인의거리', '한성백제왕도길', '관악로', '수유동먹자골목', '수락산역먹자골목', '청량리통닭골목', '아현동전골목', '남영동스테이크골목', '수유리기사식당골목', '무교동낙지거리', '명동거리', '경춘선숲길', '여의서로', '한남동카페거리', '홍대예술의거리', '염천교수제화거리', '안산벚꽃길', '압구정토끼굴', '용답동로데오거리', '동대문러시아거리', '중곡동가구거리', '서울숲은행나무길', '청계천매화거리', '벚꽃십리길', '대한민국생두산업엑스포', '웃음참기축제', '수문장교대의식', '서울국제즉흥춤축제', '불암산산림치유센터', '서울서초글램핑청계산장', '인사동전통문화체험행사', '덕수궁석조전음악회', 'K-FESTIVAL', '코리아먹켓페스타', '덕수궁풍류', '호암산잣나무산림욕장', '빵쇼팡팡크루즈', '국립민속박물관우리민속한마당', '덕수궁왕궁수문장교대의식', '보신각타종행사', '경복궁별빛야행', '암사선사유적로', '국기원길', '국악길', '리버사이드길', '무역대로', '아셈길', '청담문화거리', '윌로비로', '하니희망길', '논현동먹자골목', '강감찬생가터', '강감찬대로', '가인김병로길', '간송전형필길', '함석헌길', '노벨길', '프랑스로', '무지개길', '한성백제로', '앙카라길', '남이장군사당', '남이장군로', '순헌황귀비길', '유관순길', '이호철길', '정지용길', '겸재길', '고하길', '박수근길', '소나무길', '송강길', '송해길', '옥류동천길', '한글로', '세종대왕탄생지기념비', '우당이회영집터', '우당이회영길', '88볼링길', '서일대학길', '옹기테마길', '우림맛솜씨길', '김수영길', '서울커플페어', '아시아프', '함태영사택터', '비건페스타', '서울맥주축제', '메가쇼', '서울국악축제', '서울시민연극제', '남산골태권도상설공연', '서울국제여성영화제', 'DDP패션몰', '천왕산가족캠핑장', '목동재난체험관', '광흥당', '서울영화센터(2025년예정)', '문화로토닥토닥', '경복궁야간특별관람', '아이가행복입니다', '서울청소년연극축제', '청춘페스티벌', '서울365패션쇼', '월컴대학로', '한양도성문화제', '그랜드민트페스티벌', '온라인서울안전한마당', '청년의날', '서울국제관광산업박람회', 'KYMF대한민국청소년미디어대전', '한옥에세이', '서울숲여름캠핑장', '서울일러스트레이션페어', '서울빛초롱축제', '락고재서울취운정스파스위츠', '뉠스테이', '미당서정주의집', '장지공원유아숲체험원', '여느날', '능골산유아숲체험원', '아날로그한옥', '국제음식문화거리', '딜라이트서울', '우이동가족캠핑장', '매봉산유아숲체험원', '정연재', '루민북촌', '휘겸재바이락고재', '말뫼고개', '자명서실', '인왕산길', 'JPSTAY', '피치스도원', '미니한옥클래식', '미온가바이버틀러리', '이호소락', '더채코트야드', '더채갤러리', '서울의하루가회동', '서울의하루삼청동', '미니한옥모던', '윤근영가옥', '서울한옥스테이', '서촌아지트', '고운', '상상헌', '프로젝트사적인', '호경당바이버틀러리', '이음', '한옥스테이언니집', '오늘스테이', '시락당', '아보헌', '그리닝', '유준당바이버틀러리', '현주원하우스', '이리루', '북촌사랑방한옥', '문향재바이버틀러리', '북촌아지트', '스페이스모다', '소윤재바이버틀러리', '신림동별빛거리', '가원재바이버틀러리', '안산자락길', '디귿', '무수아취야영장', '은현재바이버틀러리', '청원산방', '동우당바이버틀러리', 'HEALINGHANOK채효당', '동영재바이버틀러리', '이다한옥', '기생충포토존', '더채라이브러리', '모꼬지', '예린당바이버틀러리', '채원당바이버틀러리', '이화마을', '락고재북촌빈관', '비자인한옥', '설연하', '책가도원', '담서제', '환의당바이버틀러리', '햇비재바이버틀러리', '비규헌바이버틀러리', '생활서가', '청와대', '서울물재생체험관', '서울파크뮤직페스티벌', '진서재바이버틀러리', '무무헌', '이화한옥별채', '브엘로트립', '스테이다반사', '홍제천인공폭포', '화운', '민영환선생동상', '양유당', '파티투어', '하녹운', '익청각', '별하루바이버틀러리', '온유헌바이버틀러리', '북한산글램핑장', '아름재바이버틀러리', '스테이달로', '더채달로', '하녹운바이버틀러리', '수락산동막골자연휴양림(2024년6월예정)', '앵봉산가족캠핌장', '구름정바이버틀러리', '다인당바이버틀러리', '노스텔지어', '한옥성북', '북촌가옥', '노스텔지어블루재', '예은재', '소회루바이버틀러리', 'K-POP스퀘어', '노스텔지어히든재', '노스텔지어힐로재', '우주선을고쳐줘', '신비아파트미디어어드벤처', '서초바글', '더채유휘', '하우스북촌', '더채하우도', '연복사탑중창비', '북촌한옥', '서울빛의시어터', '사월한옥', '관악산계곡캠핑장', '노을공원가족캠핑장', '여의도벚꽃축제', '장애인문화예술판', '클래식고택', '효도투어', '더술컴퍼니아카데미', '인휴당', '영추스테이', '성북은은한가', '도심속캠핑장', '서은재', '예맥당한옥스테이', '이도한옥', '서울장미축제', '한식문화공간이음', '남산둘레길', '양천공원책쉼터', '보성사터', '태화관', '정선아리랑열차', '서해금빛열차', '강서둘레길', '기화별', '레드로드', '클래식고택북촌', '도현당바이버틀러리', '빈투어', '화동일번지', '북촌누각', '앵봉산가족캠핑장', '현현재바이버틀러리', '종로성혜헌', '서동재바이버틀러리', '사잇집', '낙언재', '서울관악산무장애숲길', '서울수락산무장애숲길', '윤동주시인의언덕', '무무대', '누옥', '무월관', '스마트락', '관악별빛산책']

In [20]:
seoul_tour.isna().sum()

POI_NM       0
CL_NM        0
CTPRVN_NM    0
LC_LO        0
LC_LA        0
dtype: int64

In [21]:
seoul_tour.shape

(1601, 5)

### 3. 숙소 데이터 전처리 및 EDA

In [ ]:
print(os.listdir('/content/'))

['.config', '국내_지역별_관광명소데이터.csv', 'drive', '서울시_관광숙박업_인허가_정보.csv', '서울시_정류장마스터_정보.csv', 'sample_data']

In [ ]:
seoul_accom = pd.read_csv('./서울시_관광숙박업_인허가_정보.csv', encoding='cp949')
seoul_accom

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,관광숙박업상세명
0,3230000,CDFI2260032019000001,2019-07-25,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3220000,CDFI2260032015000001,2015-02-03,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010000,CDFI2260032016000008,2016-05-17,NaN,3,폐업,3,폐업,2023-02-28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3170000,CDFI2260032021000001,2021-04-06,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3010000,CDFI2260032016000006,2016-05-02,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,3010000,CDFI2260032018000011,2018-11-20,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,3230000,CDFI2260032021000001,2021-06-22,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,3240000,CDFI2260032017000001,2017-12-26,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,3240000,CDFI2260032014000001,2014-07-24,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,3240000,CDFI2260032012000001,2012-09-07,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
seoul_accom.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '문화체육업종명', '문화사업자구분명',
       '지역구분명', '총층수', '주변환경명', '제작취급품목내용', '보험기관명', '건물용도명', '지상층수', '지하층수',
       '객실수', '건축연면적', '영문상호명', '영문상호주소', '선박총톤수', '선박척수', '선박제원', '무대면적',
       '좌석수', '기념품종류', '회의실별동시수용인원', '시설면적', '놀이기구수내역', '놀이시설수', '방송시설유무',
       '발전시설유무', '의무실유무', '안내소유무', '기획여행보험시작일자', '기획여행보험종료일자', '자본금', '보험시작일자',
       '보험종료일자', '부대시설내역', '시설규모', '관광숙박업상세명'],
      dtype='object')

In [ ]:
seoul_accom['상세영업상태명'].unique()

array(['영업중', '폐업', '휴업', '직권말소', '등록취소'], dtype=object)

In [ ]:
seoul_accom = seoul_accom[seoul_accom['상세영업상태명'] == '영업중']
seoul_accom = seoul_accom[['사업장명', '도로명주소', '좌표정보(X)', '좌표정보(Y)']]
seoul_accom

,사업장명,도로명주소,좌표정보(X),좌표정보(Y)
0,호텔 더 캐슬(신천),서울특별시 송파구 올림픽로12길 4-17 (잠실동),207163.343016,445433.784924
1,호텔 데님(Hotel Denim),서울특별시 강남구 논현로 66 (개포동),204053.596301,441557.179656
3,위너스,서울특별시 금천구 가산로3길 103 (독산동),190183.499829,441092.525925
4,코트야드 메리어트 남대문호텔,"서울특별시 중구 남대문로 9 (남대문로4가, 남대문호텔)",197891.564897,450990.593466
5,라마다서울동대문호텔(정광개발주식회사),"서울특별시 중구 동호로 354 (을지로5가, 극동 스타클래스)",200161.192418,451521.415517
...,...,...,...,...
644,토요코인 서울 동대문 Ⅱ,서울특별시 중구 퇴계로 325 (광희동2가),200625.524648,451359.906142
645,호텔 더 캐슬(방이2),서울특별시 송파구 올림픽로32길 7-1 (방이동),209577.698775,445907.772552
646,호텔 감(HOTEL GAM),서울특별시 강동구 천호대로159길 22-36 (천호동),211302.314479,448470.034451
647,하모니관광호텔,서울특별시 강동구 천중로40길 63 (길동),212136.459032,448450.725351
648,바고관광호텔,서울특별시 강동구 천중로 27 (천호동),210981.596844,449282.085359

In [ ]:
seoul_accom.isna().sum()

사업장명       0
도로명주소      0
좌표정보(X)    2
좌표정보(Y)    2
dtype: int64

In [ ]:
# 다른 데이터셋들과 비교하기 위해 좌표 정보를 위도, 경도로 변환해주는 함수

from pyproj import CRS, Transformer

def tm2097_to_latlon(x, y):
    """
    중부원점TM (EPSG:2097) 좌표를 위도, 경도로 변환합니다.

    Args:
        x (float): TM2097 x 좌표 (동서 방향)
        y (float): TM2097 y 좌표 (남북 방향)

    Returns:
        tuple: (latitude, longitude)
    """
    # EPSG:2097 (중부원점TM) 좌표계
    crs_tm2097 = CRS.from_epsg(2097)
    # WGS84 좌표계
    crs_wgs84 = CRS.from_epsg(4326)

    # Transformer 객체 생성
    transformer = Transformer.from_crs(crs_tm2097, crs_wgs84, always_xy=True)

    # 좌표 변환
    longitude, latitude = transformer.transform(x, y)
    return latitude, longitude

# 테스트 예제
tm_x = 200000  # 중부원점TM x 좌표
tm_y = 500000  # 중부원점TM y 좌표

latitude, longitude = tm2097_to_latlon(tm_x, tm_y)
print(f"위도: {latitude}, 경도: {longitude}")

위도: 38.002746006367744, 경도: 126.99789352437391

In [ ]:
seoul_accom[['좌표정보(X)', '좌표정보(Y)']].apply(lambda x: tm2097_to_latlon(x['좌표정보(X)'], x['좌표정보(Y)']), axis=1)

0      (37.511099381990476, 127.07891971732056)
1       (37.47618986019083, 127.04372579836088)
3      (37.471959134000386, 126.88692676527495)
4       (37.56119057589254, 126.97403441984726)
5       (37.56597578035972, 126.99972238831533)
                         ...
644     (37.56452043342592, 127.00497796517418)
645      (37.51534826995913, 127.1062334866759)
646     (37.53841467455236, 127.12578006840313)
647     (37.53823016269024, 127.13521779518449)
648     (37.54573502509504, 127.12216333362093)
Length: 470, dtype: object

In [ ]:
# apply로 좌표 변환 후 두 개의 컬럼으로 분리
seoul_accom[['위도', '경도']] = seoul_accom.apply(
   lambda row: pd.Series(tm2097_to_latlon(row['좌표정보(X)'], row['좌표정보(Y)'])),
   axis=1
)

seoul_accom

,사업장명,도로명주소,좌표정보(X),좌표정보(Y),위도,경도
0,호텔 더 캐슬(신천),서울특별시 송파구 올림픽로12길 4-17 (잠실동),207163.343016,445433.784924,37.511099,127.078920
1,호텔 데님(Hotel Denim),서울특별시 강남구 논현로 66 (개포동),204053.596301,441557.179656,37.476190,127.043726
3,위너스,서울특별시 금천구 가산로3길 103 (독산동),190183.499829,441092.525925,37.471959,126.886927
4,코트야드 메리어트 남대문호텔,"서울특별시 중구 남대문로 9 (남대문로4가, 남대문호텔)",197891.564897,450990.593466,37.561191,126.974034
5,라마다서울동대문호텔(정광개발주식회사),"서울특별시 중구 동호로 354 (을지로5가, 극동 스타클래스)",200161.192418,451521.415517,37.565976,126.999722
...,...,...,...,...,...,...
644,토요코인 서울 동대문 Ⅱ,서울특별시 중구 퇴계로 325 (광희동2가),200625.524648,451359.906142,37.564520,127.004978
645,호텔 더 캐슬(방이2),서울특별시 송파구 올림픽로32길 7-1 (방이동),209577.698775,445907.772552,37.515348,127.106233
646,호텔 감(HOTEL GAM),서울특별시 강동구 천호대로159길 22-36 (천호동),211302.314479,448470.034451,37.538415,127.125780
647,하모니관광호텔,서울특별시 강동구 천중로40길 63 (길동),212136.459032,448450.725351,37.538230,127.135218
648,바고관광호텔,서울특별시 강동구 천중로 27 (천호동),210981.596844,449282.085359,37.545735,127.122163

In [ ]:
seoul_accom = seoul_accom.dropna()

### 4. 세가지 데이터 합치기
- seoul_bus: 서울 버스 정류장 정보
- seoul_tour: 서울 관광지 정보
- seoul_accom: 서울 숙박업 정보

In [ ]:
print(seoul_bus.shape)
print(seoul_tour.shape)
print(seoul_accom.shape)

(11217, 7)
(1662, 5)
(468, 6)

In [ ]:
seoul_tour.isna().sum()

POI_NM       0
CL_NM        0
CTPRVN_NM    0
LC_LO        0
LC_LA        0
dtype: int64

In [ ]:
print(seoul_bus.dtypes)
print("\n")
print(seoul_tour.dtypes)
print("\n")
print(seoul_accom.dtypes)

정류장_ID               int64
정류장_명칭              object
정류장_유형              object
정류장_번호               int64
위도                 float64
경도                 float64
버스도착정보안내기_설치_여부     object
dtype: object


POI_NM        object
CL_NM         object
CTPRVN_NM     object
LC_LO        float64
LC_LA        float64
dtype: object


사업장명        object
도로명주소       object
좌표정보(X)    float64
좌표정보(Y)    float64
위도         float64
경도         float64
dtype: object

In [ ]:
seoul_bounds = {'lat_min': 37.413294, 'lat_max': 37.715133, 'lon_min': 126.734086, 'lon_max': 127.269311}
print(seoul_bus[(seoul_bus['경도'] < seoul_bounds['lon_min']) |
                (seoul_bus['경도'] > seoul_bounds['lon_max'])])

         정류장_ID 정류장_명칭 정류장_유형  정류장_번호         위도         경도 버스도착정보안내기_설치_여부
3337  108900095  8번지입구   마을버스    9642  37.440965  126.45723           미설치

In [ ]:
from geopy.distance import geodesic

def calculate_distance(lat1, lon1, lat2, lon2):
    return geodesic((lat1, lon1), (lat2, lon2)).meters

In [ ]:
seoul_tour.head()

           POI_NM      CL_NM CTPRVN_NM       LC_LO      LC_LA
28           삼청동길      일반관광지     서울특별시  126.981658  37.587755
59         서울영어마을       영어마을     서울특별시  127.008515  37.639904
66      어린이대공원매표소  관광안내소/매표소     서울특별시  127.083936  37.551306
67  연세대학교신촌캠퍼스매표소  관광안내소/매표소     서울특별시  126.941825  37.563999
69            향나무          N     서울특별시  126.989473  37.579318

In [22]:
seoul_tour.rename(columns={'LC_LA': '위도', 'LC_LO': '경도'}, inplace=True)
seoul_tour.rename(columns={'POI_NM': '관광지명'}, inplace=True)

In [30]:
seoul_tour.rename(columns={'CL_NM': '관광지_분류'}, inplace=True)
seoul_tour.rename(columns={'관광지명': 'tour_name'}, inplace=True)

In [31]:
seoul_tour

        tour_name    관광지_분류 CTPRVN_NM          경도         위도
28           삼청동길     일반관광지     서울특별시  126.981658  37.587755
59         서울영어마을      영어마을     서울특별시  127.008515  37.639904
69            향나무         N     서울특별시  126.989473  37.579318
122    남산공원남산케이블카     유명관광지     서울특별시  126.983974  37.556648
136      신당동떡볶이골목  먹거리/패션거리     서울특별시  127.015048  37.563323
...           ...       ...       ...         ...        ...
51290          누옥      팜스테이     서울특별시  126.965936  37.579542
51313         무월관      팜스테이     서울특별시  126.983597  37.577241
51333       클래식고택      팜스테이     서울특별시  126.985648  37.580387
51450        스마트락       캠핑장     서울특별시  126.893040  37.486756
51477      관악별빛산책      지역축제     서울특별시  126.926914  37.483544

[1601 rows x 5 columns]

In [ ]:
seoul_accom.head()

,사업장명,도로명주소,좌표정보(X),좌표정보(Y),위도,경도,distance_to_tour
0,호텔 더 캐슬(신천),서울특별시 송파구 올림픽로12길 4-17 (잠실동),207163.343016,445433.784924,37.511099,127.078920,12093.463070
1,호텔 데님(Hotel Denim),서울특별시 강남구 논현로 66 (개포동),204053.596301,441557.179656,37.476190,127.043726,13543.192183
3,위너스,서울특별시 금천구 가산로3길 103 (독산동),190183.499829,441092.525925,37.471959,126.886927,15338.967114
4,코트야드 메리어트 남대문호텔,"서울특별시 중구 남대문로 9 (남대문로4가, 남대문호텔)",197891.564897,450990.593466,37.561191,126.974034,3024.265283
5,라마다서울동대문호텔(정광개발주식회사),"서울특별시 중구 동호로 354 (을지로5가, 극동 스타클래스)",200161.192418,451521.415517,37.565976,126.999722,2896.394621

In [ ]:
import pandas as pd

# 결과 저장용 리스트
tour_data = []

for _, tour in seoul_tour.iterrows():
    # 관광지 위치
    tour_lat, tour_lon = tour['위도'], tour['경도']  # 현재 행의 위도와 경도 사용

    # 가장 가까운 버스 정류장
    seoul_bus['distance_to_tour'] = seoul_bus.apply(
        lambda x: calculate_distance(tour_lat, tour_lon, x['위도'], x['경도']), axis=1
    )
    nearest_bus = seoul_bus.loc[seoul_bus['distance_to_tour'].idxmin()]

    # 가장 가까운 숙소
    seoul_accom['distance_to_tour'] = seoul_accom.apply(
        lambda x: calculate_distance(tour_lat, tour_lon, x['위도'], x['경도']), axis=1
    )
    nearest_accom = seoul_accom.loc[seoul_accom['distance_to_tour'].idxmin()]

    # 데이터 저장
    tour_data.append({
        'tour_name': tour['관광지명'],  # 관광지 이름
        'nearest_bus_stop': nearest_bus['정류장_명칭'],  # 가장 가까운 버스 정류장 이름
        'nearest_accommodation': nearest_accom['사업장명'],  # 가장 가까운 숙소 이름
        'bus_distance': nearest_bus['distance_to_tour'],  # 버스 정류장과 거리
        'accommodation_distance': nearest_accom['distance_to_tour']  # 숙소와 거리
    })

# 결과 데이터프레임 생성
tour_df = pd.DataFrame(tour_data)
print(tour_df.head())

KeyboardInterrupt:

In [23]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
from tqdm import tqdm  # tqdm 라이브러리 추가

# 거리 계산 함수 (벡터화 지원)
def calculate_distances(coord, target_coords):
    return np.array([geodesic(coord, target).meters for target in target_coords])


# 결과 저장용 리스트
tour_data = []

# 관광지 위도/경도 배열
tour_coords = seoul_tour[['위도', '경도']].values

# 버스 정류장 위도/경도 배열
bus_coords = seoul_bus[['위도', '경도']].values

# 숙소 위도/경도 배열
#accom_coords = seoul_accom[['위도', '경도']].values

# tqdm을 사용해 프로그레스 바 추가
for tour in tqdm(seoul_tour.itertuples(), total=len(seoul_tour), desc="Processing Tours"):
    # 관광지 좌표
    tour_coord = (tour.위도, tour.경도)

    # 버스 정류장까지의 거리 계산
    bus_distances = calculate_distances(tour_coord, bus_coords)
    nearest_bus_idx = np.argmin(bus_distances)
    nearest_bus = seoul_bus.iloc[nearest_bus_idx]

    # 숙소까지의 거리 계산
 #   accom_distances = calculate_distances(tour_coord, accom_coords)
 #   nearest_accom_idx = np.argmin(accom_distances)
 #   nearest_accom = seoul_accom.iloc[nearest_accom_idx]

    # 데이터 저장
    tour_data.append({
        'tour_name': tour.관광지명,  # 관광지 이름
        'nearest_bus_stop': nearest_bus['정류장_명칭'],  # 가장 가까운 버스 정류장 이름
    #    'nearest_accommodation': nearest_accom['사업장명'],  # 가장 가까운 숙소 이름
        'bus_distance': bus_distances[nearest_bus_idx],  # 버스 정류장과 거리
    #    'accommodation_distance': accom_distances[nearest_accom_idx]  # 숙소와 거리
    })

# 결과 데이터프레임 생성
tour_df = pd.DataFrame(tour_data)
print(tour_df.head())

Processing Tours: 100%|██████████| 1601/1601 [1:05:44<00:00,  2.46s/it]

    tour_name  nearest_bus_stop  bus_distance
0        삼청동길      삼청공원삼거리.옥호정터     38.025166
1      서울영어마을              모아빌라    197.545979
2         향나무               볼링장    133.892739
3  남산공원남산케이블카    남산케이블카.남산산책로입구    153.510646
4    신당동떡볶이골목  신당동떡볶이타운.중구여성플라자     58.753759

In [25]:
tour_df['관광지_분류'] = seoul_tour['CL_NM']

In [28]:
tour_df = tour_df.drop(columns=['관광지_분류'])

In [32]:
# 'tour_name' 컬럼을 기준으로 병합
tour_df = tour_df.merge(seoul_tour[['tour_name', '관광지_분류']], how='left', on='tour_name')

# 'CL_NM' 컬럼 이름을 '여행지_분류'로 변경
tour_df.rename(columns={'관광지_분류': 'tour_category'}, inplace=True)

# 결과 확인
print(tour_df.head())

    tour_name  nearest_bus_stop  bus_distance tour_category
0        삼청동길      삼청공원삼거리.옥호정터     38.025166         일반관광지
1      서울영어마을              모아빌라    197.545979          영어마을
2         향나무               볼링장    133.892739             N
3  남산공원남산케이블카    남산케이블카.남산산책로입구    153.510646         유명관광지
4    신당동떡볶이골목  신당동떡볶이타운.중구여성플라자     58.753759      먹거리/패션거리

In [33]:
tour_df.head()

    tour_name  nearest_bus_stop  bus_distance tour_category
0        삼청동길      삼청공원삼거리.옥호정터     38.025166         일반관광지
1      서울영어마을              모아빌라    197.545979          영어마을
2         향나무               볼링장    133.892739             N
3  남산공원남산케이블카    남산케이블카.남산산책로입구    153.510646         유명관광지
4    신당동떡볶이골목  신당동떡볶이타운.중구여성플라자     58.753759      먹거리/패션거리

In [34]:
# CSV 파일로 저장 (파일명은 'tour_accessibility.csv'로 지정)
tour_df.to_csv('tour_accessibility.csv', index=False)

# 저장된 파일 경로 출력
print("CSV 파일이 저장되었습니다: tour_accessibility.csv")

CSV 파일이 저장되었습니다: tour_accessibility.csv

In [38]:
# EXCEL 파일로 저장
tour_df.to_excel('tour_accessibility.xlsx', index=False)

# 저장된 파일 경로 출력
print("excel 파일이 저장되었습니다.")

excel 파일이 저장되었습니다.

In [41]:
len(tour_df['tour_name'].unique())

1447

In [35]:
tour_df['tour_category'].value_counts()

tour_category
일반관광지           8030
지역축제             401
N                289
먹거리/패션거리         285
팜스테이             128
유명사적/유적지          76
캠핑장               28
비/탑/문/각           24
왕릉/고분             23
서원/향교/서당          22
폭포/계곡             15
고택/생가/민속마을        14
휴양림/수목원           13
테마공원/대형놀이공원       12
관광농원/허브마을         12
드라마/영화촬영지         11
보물                11
식물원                7
궁궐/종묘              7
일반유원지/일반놀이공원       6
야영장                6
천연기념물              5
영어마을               5
유명관광지              4
성/성터               3
아쿠아리움/대형수족관        3
국보                 2
정보화마을              1
글램핑코리아(캠핑)         1
동물원                1
Name: count, dtype: int64

In [44]:
print(tour_df[tour_df['tour_category'] == '일반관광지'])

       tour_name nearest_bus_stop  bus_distance tour_category
0           삼청동길     삼청공원삼거리.옥호정터     38.025166         일반관광지
11           장통교          청계1가.광교     74.553336         일반관광지
12           수표교         청계2가.수표교     67.465247         일반관광지
13          새벽다리        청계5가.광장시장     38.348861         일반관광지
14           나래교        청계6가.평화시장     29.797843         일반관광지
...          ...              ...           ...           ...
9412        레드로드        서교푸르지오아파트    143.062944         일반관광지
9435  서울관악산무장애숲길              신소재    270.262366         일반관광지
9436  서울수락산무장애숲길           상원초등학교    137.494601         일반관광지
9437    윤동주시인의언덕     자하문고개.윤동주문학관    148.252455         일반관광지
9438         무무대            수성동계곡    209.154915         일반관광지

[8030 rows x 4 columns]